[2014-01-20 19:47] glockjt opened #1 "binding data to the editor"
how would I bind data to the editor?
for example:

[code]

[2014-01-21 11:27] outsideris opened #2 "fix error on travis-ci"

[2014-01-21 13:10] #1 closed, assigned to nobody

[2014-01-23 05:08] ncammarata opened #3 "Doesn't bind if value starts as undefined"
Demo: I only removed $scope.text = '...'
http://jsfiddle.net/n8dt4/1/

[2014-01-26 07:17] #3 closed, assigned to outsideris

[2014-02-15 21:03] rspenc29 opened #4 "ngModel not updated on toolbar changes"
When the toolbar makes changes to the html the model isn't updated unless you actually type additional key strokes. This is a problem if the user clicks the save button right after making a change from the toolbar.

[2014-02-20 06:54] emadd opened #5 "ngModel not updated with html"
First, thanks for this.  Very cool.

So I've successfully bound the summernote content to my model...

<summernote ng-model="user.profileDescription" config="summernoteOpt"></summernote>

It updates the text just fine when I save to my database but the formatting doesn't appear to be making it to the model at all.

[2014-02-20 07:06] #5 closed, assigned to nobody

[2014-02-23 08:07] #4 closed, assigned to nobody

[2014-03-15 16:15] outsideris opened #6 "fjeofj"

[2014-03-15 16:15] #6 closed, assigned to nobody

[2014-04-16 01:57] jayss opened #7 "Bugs in the codeview"
Hi!
I find that it will not update the code if I submit the form when the editor is in code view. Is it a bug, or I configure incorrectly?
Thanks

[2014-04-19 21:19] emadd opened #8 "Support for onPaste event"
Would be very cool

[2014-05-09 17:39] outsideris opened #9 "add air mode"
- [onChange](https://github.com/HackerWins/summernote/issues/348)
- airmode

[2014-05-10 14:18] outsideris opened #10 "use onChange event instead keyup"
Summernote has [onChange](https://github.com/HackerWins/summernote/issues/348) event now but the event is not released.
So I will use it after release.

[2014-05-10 18:30] #7 closed, assigned to nobody

[2014-05-10 18:30] #8 closed, assigned to nobody

[2014-05-24 17:49] noog opened #11 "$scope don't work"
hello
my code is declared like this
when('/doc/edit/:Id', {templateUrl: '/partials/doc/edit.html', controller: DocEditCtrl}).

function DocEditCtrl( $rootScope, $scope,$routeParams, $location,$http, webStorage) {
      $scope.text = "Hello World"; // <-- the value is not displayed in summernote textarea

}

summernote is well activated but no value in it

 $scope.options don't works too

why $scop

[2014-06-10 10:33] shuhankuang opened #13 "is there an example about onImageUpload?"
thanks for the example.

[2014-06-10 19:28] adamgoose opened #14 "Add "name" attribute to textarea"
Currently, I cannot add a "name" attribute to the textarea. Since I'm not using the models to submit post requests, I need the "name" attribute on the textarea itself.

Can this be added soon?

[2014-06-18 15:13] pgtruesdell opened #15 "Model Not Updating Last Action"
I've noticed a peculiar issue.

When your last action is not a keystroke but an action from the menubar, like adding a link to a selected bit of text or changing font size or what have you, the model isn't being updated. If you type a bit of text and remove it, or something of that nature the model is updated and works as expected. This appears to be a design flaw in how the model is updated.

As

[2014-07-31 03:37] #13 closed, assigned to nobody

[2014-08-26 11:59] monad98 opened #17 "add table button using options"
![2014-08-26 20 56 56](https://cloud.githubusercontent.com/assets/6015975/4043847/39e9cb36-2d18-11e4-8162-8466ef2f0378.png)
when I set the options like above, table button doesn't work.
![2014-08-26 20 59 01](https://cloud.githubusercontent.com/assets/6015975/4043860/62c719b4-2d18-11e4-8619-dc4441bb724a.png)
Is there any problem on my options object?

[2014-08-29 14:57] jayss opened #18 "Airmode Bug"
Hi, it can't work well in the air mode.
When use airmode in angularjs, it can't upload the html code unless using Space to refresh.
For example, If I text "something" and would like to add Header1 style, then submit the form, the value is 'something', but if I add a space, the value is '<h1>something</h1>'

[2014-09-03 11:37] #14 closed, assigned to outsideris

[2014-09-03 11:57] #17 closed, assigned to nobody

[2014-09-03 13:15] #18 closed, assigned to nobody

[2014-09-04 08:07] #11 closed, assigned to outsideris

[2014-09-04 08:08] #9 closed, assigned to outsideris

[2014-09-04 08:08] #10 closed, assigned to outsideris

[2014-09-04 08:08] #15 closed, assigned to outsideris

[2014-09-05 09:34] #2 closed, assigned to outsideris

[2014-09-14 01:01] jayss opened #19 "About the summernote in the ng-repeat"
Hi,
It's awesome that you fix the airmode!
But there's a small bug when it's destroyed.
For example,  I use it in ng-repeat, and I want to remove one of them. the console  will show the bugs like that:

![screenshot from 2014-09-14 08 54 29](https://cloud.githubusercontent.com/assets/4995023/4262571/72c01f3c-3baa-11e4-92ab-cae69833e02f.png)

[2014-09-15 11:09] monad98 opened #20 "Angularjs version 1.3.0-rc.1"
With angular v.1.3.0-rc.1 I got this error.

`Uncaught Error: [$parse:isecdom] Referencing DOM nodes in Angular expressions is disallowed! Expression: imageUpload(files, editor, welEditable);`

https://code.angularjs.org/1.3.0-rc.1/docs/error/$parse/isecdom

Thank you~!

[2014-09-28 19:33] mschwartz opened #21 "depends on bootstrap.min.js"
This is an issue because for angular, I would want to use angular-bootstrap.  This means I have to include two conflicting scripts: bootstrap.min.js and ui-bootstrap-tpls.js.  That is, if I don't include bootstrap.min.js, angular-summernote throws an error - it must be calling something in that javascript directly (summernote is).

The problem is they conflict.  I have a dropdown menu on my nav ba

[2014-10-04 11:19] #19 closed, assigned to outsideris

[2014-10-09 11:04] #21 closed, assigned to outsideris

[2014-10-19 14:03] #20 closed, assigned to outsideris

[2014-11-05 08:52] hatpick opened #22 "ng-required"
Is it possible to use ng-required with this? currently I'm using a hidden input for this purpose.

[2014-11-13 00:26] timcosta opened #23 "defer initialization"
Is there a way to defer initialization of Summernote using this? I want to initialize it when the user clicks something, and right now as soon as <summernote /> is seen in the DOM the editor gets initialized.

[2014-11-17 14:42] Pyohwan opened #24 "Is airmode working normally?"
Hello outsideris,
I am using angular-summernode well at my project. thank you.
There is no textbox when using airmode.
Airmode is not working normally too at provided Demo.

This is code below.

[code]

Please check it.

[2014-11-24 15:58] daon opened #25 "Referencing a DOM node in Expression Error after uploading image"
Hi outsideris, first of all thank you for a great plugin!

I'm trying to get custom image upload to work but I get the [Referencing a DOM node in Expression Error](https://docs.angularjs.org/error/$parse/isecdom) after the image is uploaded and I start to edit the content. I first thought it was something wrong with my code but I am able to reproduce the issue in your callback demo.
1. Upload imag

[2014-12-10 00:04] luisrudge opened #26 "bower issues"
why two angular dependencies?
https://github.com/summernote/angular-summernote/blob/master/bower.json#L21-L22

also, please update to summernote 0.6

[2014-12-10 00:30] luisrudge opened #27 "how to use form validation?"
Currently, I have this:

[code]

I want to use angular-summernote, but it doesn't validate correctly

[code]

[2014-12-11 07:38] #24 closed, assigned to outsideris

[2014-12-13 10:39] outsideris opened #28 "fix links for transfering repository"
badges and some links in docuemnts

[2014-12-23 18:26] #25 closed, assigned to outsideris

[2014-12-23 18:26] #26 closed, assigned to outsideris

[2014-12-25 09:21] outsideris opened #30 "Fix test fail in travis"
tests in local environment is all passed.

[2015-01-05 04:23] outsideris opened #32 "remove compiled files for distribution"
https://developer.github.com/v3/repos/releases/

[2015-01-05 04:27] outsideris opened #33 "change repository url in bower registry"

[2015-01-06 04:43] qpitlove opened #35 "'Error: [$rootScope:inprog] $digest already in progress' in IE11"
I send pullrequest below url~
https://github.com/summernote/angular-summernote/pull/34

Thanks.

[2015-01-09 16:53] #28 closed

[2015-01-09 18:09] outsideris commented on #32
ref commits: a0dcb7c79749fea520ea46e1a6736b657ecabe83, 08777a780461880b87909625d4c646288f221860, 93754e371d302a76fbd7b3ae2672b9d8e8dc62ed

[2015-01-09 18:20] outsideris commented on #32
related documents:  [GitHub Releases Uploading](http://docs.travis-ci.com/user/deployment/releases/)

[2015-01-13 04:00] outsideris commented on #33
changed.

[2015-01-13 04:00] #33 closed

[2015-01-19 09:14] Pyohwan opened #37 "How can I get the editor object outside the on-image-upload event?"
Hello.
I like angular-simmernote and I have a question.
I can upload a image using 'editor' object. 'editor' object is on-image-upload's parameter.
This object can be used only inner on-image-upload.
I'd like to use 'editor' object outside the on-image-upload too.

Thanks.

[2015-01-19 15:40] outsideris commented on #37
Did you mean second parameter, `editor`, in [onImageUpload](http://summernote.org/#/features#callbacks-onImageUpload)?
If so, I just followed summernote's API.
Can you provide the use case for use `editor` object outside the callback?

[2015-01-20 08:12] doczoidberg opened #38 "Uncaught TypeError: Cannot read property 'lang' of undefined"
I did include the german language file of summernote and use `lang="de-DE"` in my sumemrnote directive. But I am getting the error: `Uncaught TypeError: Cannot read property 'lang' of undefined`

[2015-01-20 08:13] doczoidberg opened #39 "Toolbar Icons undefinded"
When setting the toolbar icons in the option I am getting many string of "undefined" behind the icons in the toolbar.

[2015-01-20 08:20] doczoidberg opened #40 "ng-model not updated"
When I type text in summernote, ng-model isn't updated. When editing the text using toolbar buttons everything works as expected.

[2015-01-20 08:24] #39 closed

[2015-01-21 12:36] Pyohwan commented on #37
I added a button which is irrelevant to summernote's picture toolbar to upload a image.
If click this button, upload a image to server and return URL which is accessible to image, from server.
I'd like to append image URL at summernote's editor.
So, I have to access editor object outside the onImageUpload.

[2015-01-21 14:59] outsideris commented on #37
In such case, can you use `ngModel`?
I think you can add image url into editor if you add it into `ngModel`.

[2015-01-21 15:37] outsideris commented on #38
@doczoidberg
Can you explain more detail for the issue? Because I can't reproduce it.
In my [test](http://jsfiddle.net/outsider/16xL9np9/1/embedded/result%2Chtml%2Cjs%2Ccss/), there is no error.

[2015-01-21 15:38] outsideris commented on #40
I need more detail.

[2015-01-21 16:16] doczoidberg commented on #38
this seams to be a summernote problem. => https://github.com/summernote/summernote/issues/851

[2015-01-21 16:16] #38 closed

[2015-01-22 10:43] #40 closed

[2015-01-22 10:43] doczoidberg commented on #40
no problems with current version

[2015-01-23 07:21] Pyohwan commented on #37
<code>
function DemoController($scope) {
  $scope.text = "Hello World";
}
</code>
This sample code is reset "Hello World" to $scope.text.
Is it possible insert a image using ngModel in cursor position?

I have a time and searched this issue at Summernote.

https://github.com/summernote/summernote/issues/282
<code>
var editor = $.summernote.eventHandler.getEditor();
</code>

Look at HackerWins's co

[2015-01-23 17:19] #32 closed

[2015-01-30 19:19] matisoffn opened #41 "Angular ng-model not updating on change"
http://jsfiddle.net/n8dt4/150/

An example of the problem I am having can be seen in the fiddle above.

I have a function on my controller that uses `$scope.text`, but when using `ng-model` on the summernote directive the text is empty after typing in the textarea.

Typically in Angular, if I had a normal textarea or text input with the `ng-model` directive and after it has been typed in if I log

[2015-02-03 17:08] outsideris commented on #37
@Pyohwan
Sorry for late. I understand the problem.

`<summernote editor="editor">`

How about do you think the attribute name?

Actually, I already used `<summernote editable="editable">` for callbacks.
But I worried about the attribute name is too general. And `editor` is also general.
And `editor` could be confuse with `editable`.
Do you have a idea fot it?

[2015-02-03 17:16] matisoffn commented on #41
@outsideris it's not a problem when the model is already set, but when it updates.  For example (as shown in the fiddle from the OP), a textarea with the summernote directive AND an ng-model does not work.  When you type into the textarea and then try to alert or console.log or get the value it hasn't updated.

[2015-02-03 17:29] outsideris commented on #41
@matisoffn
As I said, I can't reproduce it.
<https://www.youtube.com/watch?v=7gr1JQFY9Z8&feature=youtu.be>
Look at it. There are something I missed when I reproduce it?

[2015-02-03 17:40] matisoffn commented on #41
Watched the video.  That's the desired effect, however, when I use it it does not recognize that the model has changed.

This is the piece of code I had:

<summernote height="150" config="options" ng-model="message.reply"></summernote>

$scope.options = {
height: 300,
focus: true,
airMode: true,
toolbar: [
        ['edit',[]],
        ['headline', []],
        ['style', []],
        ['fontface', [

[2015-02-03 18:00] outsideris commented on #41
Can you provide a example from <http://jsfiddle.net/n8dt4/152/>?

[2015-02-03 18:12] matisoffn commented on #41
Mmm.  Must be something else conflicting with the summernote directive.  Thanks, will let you know what the problem is once I figure it out.

[2015-02-03 18:35] outsideris commented on #41
@matisoffn
Good. Let me know if you have some problem.

[2015-02-05 14:21] Pyohwan commented on #37
How do you think adding prefix like <code>ng-</code> of Angular Core module?
<code><summernote sm-editor="editor" sm-editable="editable"></code>
sm means Summernote.
But it's up to you.

[2015-02-07 12:36] outsideris commented on #37
@Pyohwan
I digging the issue. but summernote return editor object globally, not per summernote instance.
so, `$.summernote.eventHandler.getEditor()` return always same object.
Therefore, developer can get `Editor` via `summernote` instead `angular-summernote`.
And then, they use it with `editable` obtain from `angular-summernote`

DId I missed something? How do you think?

[2015-02-07 17:40] outsideris commented on #35
This issue is handled in #34

[2015-02-07 17:40] #35 closed

[2015-02-10 09:22] Pyohwan opened #42 "How can I multiple file upload?"
anguler-summnote sample page is used single file upload.
I'd like to multiple file upload.
How can I configure to do this?

[2015-02-11 18:48] #41 closed

[2015-02-11 18:49] outsideris commented on #42
Did you know a way to upload multiple files in summernote?

[2015-02-12 00:55] Pyohwan commented on #42
I upgraded summernote version to 0.6.1
Now, multiple file uploading is working.

[2015-02-12 00:55] #42 closed

[2015-02-12 08:17] npearson72 opened #43 "Adding config="options" causes errors"
Once I specify options, the styling on the font colors breaks. Same with other pull down menus, like the justification buttons.

When I highlight text and apply a color by selecting it off the color pallet menus, I get this console error:
`Uncaught SyntaxError: Unexpected token u`

Seems to be a parsing error.

Using the undo buttons throws:

` Uncaught NotFoundError: Failed to execute 'setStart'

[2015-02-12 20:00] npearson72 commented on #43
Hmm, got it working now after using the configs in this post:

https://github.com/summernote/angular-summernote/issues/15

[2015-02-12 20:00] #43 closed

[2015-02-12 21:11] npearson72 opened #44 "How to make font size work?"
I'm not able to get the font size button to appear or work. Any ideas?

[2015-02-13 01:50] Pyohwan commented on #44
What is your summernote version?
'font style' and 'vidio' are changed to plugin in summernote v0.6.1
Look at the summernote features page.

[2015-02-13 03:11] npearson72 commented on #44
How do you use plugins with this library?

[2015-03-05 15:45] javiermarinros opened #45 "Drag image when airMode is active"
Would be nice to allow the user drag'n'drop images and other files into the editor when using `airMode`, like when normal mode is used.

[2015-03-09 10:22] npearson72 commented on #44
I added the plugin and it gets loaded:

`< script src="plugin/summernote-ext-fontstyle.js"></script >`

But when I add it to my toolbar the button does not show up:

`['group', [ 'fontstyle' ]]`

[2015-03-09 10:37] npearson72 commented on #44
I figured it out, you need to use:

`['group', ['fontsize']]`

[2015-03-09 15:00] outsideris commented on #44
Sorry I don't have time to debug it now.
I will check it soon.

[2015-03-09 20:09] npearson72 commented on #44
No problem. Thanks for taking a look.

[2015-03-11 16:08] ontariosingh opened #46 "Insert link popup has Open in new window always ticked"
Create a link in summernote with Open in new window unticked
Save generated html into database
Reload summernote with html saved in database
Open in new window is ticked

[2015-03-14 10:57] outsideris commented on #46
I think it's handeld by summernote, not angular-summernote.

[2015-03-14 10:58] outsideris commented on #45
Do you think it is supported in angular-summernote, not summernote?

[2015-03-15 11:57] javiermarinros commented on #45
Yes, I got confused with the repos. Thank you

[2015-03-15 17:01] #45 closed

[2015-03-17 10:47] Appfabrikken opened #47 "Clean text on paste"
How can I use the on-paste event to clean the pasted text (i.e. remove all formatting code)?

When using on-paste="snPaste()", and then
$scope.snPaste = function() {
        console.log("Pasted something");
    };

The pasted text is the content of the function. How can I fetch the original pasted content, edit it, and then paste it into the editor?

[2015-03-19 07:07] Pyohwan commented on #37
That's ok.
Thank you for your help.

[2015-03-19 07:07] #37 closed

[2015-03-24 01:45] ralf79 opened #48 "how to user video button?"
I want to use video toolbar button.

So I add summer note video plugins.
bower_components/summernote/plugin/summernote-ext-video.js

video button show in my summernote editor but it is not working.

What should i do?
Could you tell me What are the things in order to be to work correctly the video button?

[2015-03-24 04:32] Pyohwan commented on #48
It seems to me that it's Summernote problem.

[2015-03-24 16:39] outsideris commented on #48
I agreed with @Pyohwan .
You ask it in summernote.
Anyway, you should provide more detail for your problem, not just "not working".

[2015-03-24 16:39] #48 closed

[2015-03-24 17:25] outsideris commented on #47
Use `on-paste="snPaste(evt)", and then

[code]

And edit pasted content with ngModel.

[2015-03-24 17:25] #47 closed

[2015-03-31 15:58] nflorentin commented on #44
I'm interested in the answer, I'm having the same error

+1

[2015-03-31 19:12] mikeyjm14 opened #49 "Clear the text of a summernote"
I am just wondering if there was a way to clear the text of a summernote.

- innerHTML does not work,
- calling .code() and passing in an empty string does not work
- setting the ng-model's value to an empty string or null does not work.

Does anyone have any idea?

[2015-03-31 19:37] #49 closed

[2015-04-05 12:34] #46 closed

[2015-04-05 13:11] outsideris commented on #44
I found the bug but it's summernote's bug.
if you apply [this patch](https://github.com/summernote/summernote/pull/904/files#diff-feef9a79654f7d80a6637a0c898eb8bdR234), you can use the plugin.
I'm asking core team why this patch is missed in 0.6.2

Anyway, use toolbar like this:
[code]

[2015-04-06 10:17] outsideris commented on #44
It will be fixed in summernote v0.6.3.

[2015-04-06 11:29] npearson72 commented on #44
Excellent, thank you!

So the interface is to use `fontsize` not `fontstyle`?

[2015-04-06 11:51] outsideris commented on #44
Yes. `fontsize` is for font-size. and `'strikethrough', 'superscript', 'subscript'` is for font-style.

[2015-04-06 11:54] npearson72 commented on #44
I guess what I'm still confused about is that I thought `fontstyle` was a plugin? In other words, I thought that the font-size functionality was pulled out into a plugin that is invoked with `fontstyle` -- am I wrong?

So in 0.6.3, will the font-size functionality be available as part of the core summernote, or will the plugin still be required?

[2015-04-06 12:14] outsideris commented on #44
I agreed. There are some confusing with terms.
"fontstyle" is plugin name and it is extracted core summernote since [0.6.0](https://github.com/summernote/summernote/releases/tag/v0.6.0).
So, you can use `strikethrough`, `strikethrough`, `subscript`, `fontsize` in "fontstyle" plugin and `plugin/summernote-ext-fontstyle.js` is required.

[2015-04-06 12:26] npearson72 commented on #44
Ok, cool. Thanks. Would you like to close this ticket or keep it open until 0.6.3 when I try it out?

[2015-04-06 16:17] outsideris commented on #44
@npearson72
I want to keep this open to track the issue.

[2015-04-06 16:29] npearson72 commented on #44
Sounds good, thanks.

[2015-04-08 19:10] outsideris commented on #44
@npearson72 summernote [v0.6.3](https://github.com/summernote/summernote/releases/tag/v0.6.3) has been released.
Please check it again.

[2015-04-08 22:11] npearson72 commented on #44
Thanks for the update. For some reason passing the options into the config setter does not work?

You can see my code in the screenshot and what it spit out onto the screen in the other screen shot. See how the values are on the scope, but not working?

Am I doing something wrong?

![screen shot 2015-04-08 at 3 10 32 pm](https://cloud.githubusercontent.com/assets/1323414/7056543/859365ca-de01-11e4

[2015-04-09 04:01] outsideris commented on #44
I couldn't find any problem in your code in screenshot.
But you have to specify `strikethrough`, `strikethrough`, `subscript`, `fontsize` in toolbar if you want to use.
(Why is `fontsize` part in commented?)

Anyway, I add [a small example](http://jsfiddle.net/outsider/n8dt4/158/) in jsfiddle.
Can you find how to solve your problem in above example? Or you want to use something differently?

[2015-04-10 09:00] npearson72 commented on #44
Seems this is an issue with 0.6.3

https://github.com/summernote/summernote/issues/1009

As you can see, even on the summernote site this is a problem:

![screen shot 2015-04-10 at 1 59 57 am](https://cloud.githubusercontent.com/assets/1323414/7084769/586d0c7a-df25-11e4-975b-7b96014a789b.png)

[2015-04-14 11:18] outsideris commented on #44
@npearson72 You are right. It seems fixed in 0.6.4.
Sorry, Please check again.

[2015-04-15 01:06] npearson72 commented on #44
Just wanted to confirm. All is working splendidly! Thanks so much for all the help on this! Great library... great community.

[2015-04-15 01:06] #44 closed

[2015-04-15 02:19] outsideris commented on #44
:+1:

[2015-04-16 08:09] carlo-feudo opened #50 "IE 11/10 large amount of text - crashes"
Hi,
on IE 11/10 when you have angular-summernote initialised with a fair amount of text and then you try to hit enter e write other text it crashes (not responding).

Could it be that the binding is too heavy ? I have tried the plain component summer-note and it doesn't seem to have this problem http://summernote.org/#/

Could you please try to figure out the problem?

Cheers mate,
Carlo

[2015-04-16 15:04] outsideris commented on #50
If you provide how many text cause crashes, it is very helpful to reproduce it.

[2015-04-16 15:33] carlo-feudo commented on #50
Hi man, thanks for your reply,
the thing is that we actually don't know, we only see that after 3-4 enter (html mode) something gets triggered and the CPU gets to 100% after a minute it responds again. The angular-summer note live inside a quite heavy Angular app.

Thanks
Carlo

[2015-04-16 15:35] outsideris commented on #50
I got it. I will try to test it.
Thank you for reporting.

[2015-04-16 15:42] carlo-feudo commented on #50
Cheers,
Carlo

[2015-04-17 12:33] gabrielguerrero commented on #50
Hi
I did a few test in IE11  it doesn't crash but it hangs for a few seconds so you can't type, i did not test IE10,   if I remove the ng-model the problem is gone, after a lot of digging I think the problem is that summernote onChange calls updateNgModel method and this is calling $apply very fast while you type,so  I commented it and is working fine in IE11 ,  the method looks like
[code]
Genera

[2015-04-20 08:58] yhinds opened #51 "Insert at Caret Position"
Anyway to include the Insert Text at Cursor Position added to V0.6

editor.insertText($editable, 'hello ');

Review comments here: https://github.com/summernote/summernote/issues/282#issuecomment-62831072

[2015-04-22 14:10] easylogic commented on #51
if you can use v0.6.4 , use a new summernote's api .

[code]

refer to http://summernote.org/#/deep-dive

[2015-05-01 16:37] carlo-feudo commented on #50
Hi man, any news about this ?
please

Thanks
Carlo

[2015-05-03 11:08] outsideris commented on #50
@carlo-feudo Sorry. I'm pretty busy for my job.
I guess I can check this issue next weekend.

[2015-05-08 20:25] till opened #52 "browserify/npm?"
Hey there — any chance you guys can publish releases to the npm registry as well? Would allow re-use with browserify.

[2015-05-12 15:37] im1dermike commented on #22
+1 for this request.  Can't believe it doesn't have it...

[2015-05-12 15:55] im1dermike opened #53 "Value of empty summernote is not empty string"
The value of a summernote model before entering text is an empty string as expected.  But if you enter text and then remove it, the value of the summernote model is `<br>`.  This ruins ngRequired.

Oddly enough, in my testing, if you type text into an empty summernote, then remove it, its value is `<br>`.  But if you add some hard returns to the empty summernote, then delete them, its value is an

[2015-05-12 21:02] alirezamansoori opened #54 "on blur to include toolbar"
currently onblur gets called if toolbar is clicked. Is it possible to keep from calling onblur when toolbar is clicked?

[2015-05-13 14:32] alirezamansoori opened #55 "adding toolbarclick"
nothing big. I've added the following to my code to bring in on toolbar click functionality
summernoteConfig.ontoolbarclick = function (evt) { $scope.toolbarclick({ evt: evt }); };

and

.directive('summernote', [function() {
    ...
      scope: {
        ...
        toolbarclick: '&onToolbarclick',
        ...
      },
      ...
    };

[2015-05-14 03:49] outsideris commented on #53
Ok. I will test it.

[2015-05-14 03:52] outsideris commented on #54
angular-summernote is wrapper for summernote.
I think it is summernote's behaviour. Could you ask it in summernote?

[2015-05-14 03:55] outsideris commented on #55
All event listeners I used are emitted by summernote.
I think Issuing it in summernote is better. I will add the event listeners if summernote support it.

[2015-05-14 04:44] alirezamansoori commented on #54
I'll close this one ..Blur should only work on form fields and not divs. Only ones that get buggy are the toolbar dropdown buttons. Will ask on summernote.
thanks.

[2015-05-14 04:45] alirezamansoori commented on #55
ontoolbarclick has been added to summernote.

[2015-05-14 04:46] #54 closed

[2015-05-15 12:06] outsideris commented on #55
@alirezamansoori Sorry. I missed it. I will check new version.

[2015-05-16 07:31] monad98 opened #56 "Now editor in OnImageUpload callback func is not available in latest version of summernote"
Hi
How can I get editor now?

[2015-05-16 07:52] sanyam-j opened #57 "Custom Menu in Air Mode"

[2015-05-16 13:23] monad98 commented on #56
I've added this to this.activate in angular-summernote.js
    if(angular.isDefined($attrs.note)) {
        $scope.note = element;
      }
and added "note" to directive isolated scope like this : note:'='
then, added in my controller
    $scope.note.summernote('insertImage',url);

It works. If there is better way, please let me know.
Thank you.

[2015-05-18 03:14] kiddo13 opened #58 "Image Upload with REST Endpoint"
I'm trying to use image upload to our REST endpoint for uploading image file.
The problem is I couldn't find any documentation on this subject for angular-summernote and in my experiment with on-image-upload="imageUpload(files, editor)" function, I got undefined on editor object.
[code]

And also there is no example for inserting the image to the editor.
Please guide me on this problem if there is

[2015-05-18 03:50] outsideris commented on #56
I think this issue is similar with #37 .
You can see my last comment in #37 . Is it helpful for your problem?

[2015-05-18 16:21] #52 closed

[2015-05-18 16:23] outsideris commented on #52
@till I released it on [npm](https://www.npmjs.com/package/angular-summernote).
And I will release new version on npm as bower.

[2015-05-18 16:33] outsideris commented on #50
Hi @carlo-feudo I dig this problem, but I couldn't reproduce the crash.
@gabrielguerrero 's code is very helpful and give me some hint.
In my test(IE11), angular-summernote became pretty slow when there are many texts.
I tried @gabrielguerrero 's code, but I feel decreasing performance is similar as before.

Anyway, I found [ngModelOptions](https://docs.angularjs.org/api/ng/directive/ngModelOption

[2015-05-18 16:53] till commented on #52
@outsideris Awesome! And thank you!

[2015-05-18 19:23] outsideris commented on #53
I can't reproduce it.
Can you explain more detail with version of summernote and angular-summernote or browser you tested.

[2015-05-18 19:51] im1dermike commented on #53
Unfortunately, neither summernote nor your angular-summernote JS files supply a version.  summernote.js does supply `Date: 2015-04-29T19:41Z` for whatever that's worth.

Hopefully this screencast will help:  http://www.screencast.com/t/EchUew7sx3g

[2015-05-19 05:16] Pyohwan commented on #58
Look at onImageUpload on this URL.
http://summernote.org/#/deep-dive#callbacks

editor object is no longer used.
Summernote has been upgrade.

[2015-05-19 12:15] jkpatil211 opened #59 "How to add custom plugin"
I want to add buttons to toolbar and perform some action on the text inside editor. How do I achieve it ?

[2015-05-20 05:01] sanyam-j opened #60 "In airMode toolbar gets hide when i click on any drop menu in toolbar."
Hi,

I am getting this issue in my application and not able to found any reason for it. Can any help me out.

My application link is https://intense-wildwood-2005.herokuapp.com/#/

[2015-05-20 14:57] sanyam-j commented on #60
I have found the reason for the issue. This issue is injected due to the new version release of summernote #v0.6.7.

[2015-05-22 07:10] jkpatil211 commented on #56
Hii
I too want to access the editor object but it shows undefined in onImageUpload function

[2015-05-22 10:19] jkpatil211 commented on #56
Actually the problem is with new version of summernote.js
When I used old one it solved my issue.

[2015-05-23 07:27] outsideris commented on #56
@jkpatil211 I got what you mean.
I'm preparing to make it compatible with new version of summernote. So, it will a way for exposing editor object.

[2015-05-24 11:16] outsideris commented on #60
As you know. it related with [summorenote/#1093](https://github.com/summernote/summernote/issues/1093)

[2015-05-24 11:16] #60 closed

[2015-05-24 11:51] outsideris commented on #57
You can use like this:

[code]

And you can set popover menus

[code]

[2015-05-24 11:51] #57 closed

[2015-05-24 12:38] sanyam-j commented on #57
@outsideris Thanks. I have tried it earlier, but its not working at that time.

[2015-05-24 12:40] sanyam-j opened #61 "Customize the color option as only foreground or background."

[2015-05-25 11:14] outsideris commented on #53
I will try to fix it if [summernote/#1097](https://github.com/summernote/summernote/pull/1097) is merged and released.

[2015-05-25 11:21] outsideris commented on #59
You can use plugin. See [documents](http://summernote.org/#/deep-dive#plugin).

[2015-05-25 11:21] #59 closed

[2015-05-25 11:22] outsideris commented on #61
You should report it in summernote, not angular-summernote.

[2015-05-25 11:22] #61 closed

[2015-05-25 11:24] outsideris commented on #57
I've been test it. Let me know again if you can't.

[2015-05-25 12:12] #55 closed

[2015-05-25 12:12] #56 closed

[2015-05-25 17:34] #30 closed

[2015-05-27 11:43] sanyam-j opened #62 "New version 0.4.0 throughing error "Uncaught RangeError: Maximum call stack size exceeded" in console"

[2015-05-27 12:43] outsideris commented on #62
@sanyam-j  Could you find the case the error occured?

[2015-05-27 13:34] sanyam-j commented on #62
While selecting the font style.

Sent from my Nexus
On 27-May-2015 6:13 pm, "JeongHoon Byun (aka Outsider)" <
notifications@github.com> wrote:

[2015-05-27 16:12] outsideris commented on #62
@sanyam-j Thanks. I will check it.

[2015-05-27 18:26] outsideris commented on #62
@sanyam-j Is it occured in airmode only?

[2015-05-28 02:27] sanyam-j commented on #62
Yes i have checked in air mode. I have not checked in simple toolbar.

Sent from my Nexus
On 27-May-2015 11:56 pm, "JeongHoon Byun (aka Outsider)" <
notifications@github.com> wrote:

[2015-06-03 09:02] outsideris commented on #58
Summernote APIs have been changed in v0.6.4.
So you can get `editor` object via `editor` attribute in v0.4.0.
<https://github.com/summernote/angular-summernote#event-listeners>

[2015-06-03 09:02] #58 closed

[2015-06-03 09:04] outsideris commented on #51
In v0.4.0, angular-summernote expose summernote element via `editor` attribute.
So, you can use summernote APIs on the element.

[2015-06-03 09:04] #51 closed

[2015-06-07 12:10] #62 closed

[2015-06-11 19:42] ibaivalencia opened #63 "ng-submit not working when summernote in <form>"
Hi there,

I found that adding a summernote inside a form breaks the form's ng-submit. Whenever I press intro while it's focused into a <input>, it doesn't submit the form. However, when I remove the <summernote>, it works again.

Simple code example:

	<form ng-submit="myfunction('prueba')" id="prueba">
		<input type="text">
		<button type="button" ng-click="myfunction('prueba2')">prueba</button>

[2015-06-11 20:34] ibaivalencia commented on #63
Okay sorry, found the source of this issue.

It's the last summernote.min.js version. 0.6.7 is not working with ng-submit. Tried with 0.6.4 and seems working well. 0.6.4+ brings the submit issue.

[2015-06-11 20:34] #63 closed

[2015-06-23 00:28] spdaly opened #64 "Cannot get paste event to fire"
I have been trying to get the paste event to fire so that I can clean up crappy Word HTML.  I have yet to get it to work correctly.

Thoughts??

Here's my tag:

[code]
My options
[code]

And my function
[code]

[2015-06-23 10:25] alexsamant commented on #47
Actually, updating the model is not that straightforward, because the copy/paste is happening outside of Angular, so this is the full function:

	$scope.snPaste = function(e) {

    		//First define the clean content
                var cleanUp=e.originalEvent.clipboardData.getData('text');

	        //Have it wait for 0.5 seconds, before using $apply to update yourModel
                 setTimeou

[2015-06-23 18:19] spdaly commented on #64
I found the issue. I had a left over summernote.js from another bower library being loaded. Not the correct summernote JS file per your docs.

[2015-06-24 18:08] Mr-Anonymous commented on #23
This will be interesting. I wonder if this will improve the initial load time. I noticed that when I call summernote multiple times inside a form's ng-repeat through a custom directive, it does take a long time to initialize it.

[2015-06-24 18:11] tjsail33 commented on #23
I ended up writing a semi custom wrapper as the inability to defer loading killed this plugin for me (comment tree, nested replies). I suppose that using an ng-if on the summernote element where to flip the boolean on click would work the same though?

[2015-06-24 18:43] Mr-Anonymous commented on #23
@tjsail33 Was it taking too long for this plugin to load for you too? When I tested in Firefox, the page takes more than 30 seconds to load when I have this directive in that form. Without the summernote directive, it loads in 1-2 sec. Were you facing a similar issue? Is that why you are trying to defer the plugin loading?

[2015-06-24 18:46] tjsail33 commented on #23
Yes. Especially when i had close to 30 instances of it on a page that all tried to load at once. I don't think the plugin is inefficient - I just think it needs a way to defer initialization in some way to handle use cases where more than one editor exists in the DOM at once.

[2015-06-24 19:24] Mr-Anonymous commented on #23
Thanks for confirming that. My situation is similar. I have a form with multiple instances of this editor. When I have more than as little as 2-3 itself, the page pretty much crashes due to long initialization time. For now, I am considering to just use a plain textarea as a temporary solution. I agree, the plugin is not inefficient. Its a very good plugin but unfortunately its close to unworkable

[2015-06-25 10:17] outsideris commented on #47
@alexsamant
Why is dealying 500ms needed?

[2015-06-25 10:18] outsideris commented on #47
@alexsamant
You're right, but I think `$timeout` is better than `$apply`.

[2015-06-25 10:19] alexsamant commented on #47
Yea, eitherway ... it works. :)

[2015-06-25 10:26] outsideris commented on #23
@tjsail33 @Mr-Anonymous
Do you know other directives has defer initialization or snippets to defer initialization?
If so, it is very helpful to resolve this issue. For now, I have no idea about a way how to handle defer initilalization.

[2015-06-25 11:05] outsideris commented on #64
@spdaly
So, is it solved?

[2015-06-25 19:34] spdaly commented on #64
Yes, it is solved. Sorry, I must have forgotten to close.

[2015-06-25 19:34] #64 closed

[2015-07-03 12:19] #53 closed

[2015-07-06 14:51] Bhasuri opened #65 "Inserting an image - appends it outside when the caret is not inside editor"
Hello,

When I try to upload an image, the image is appended outside the editor if I have not selected (initialised the caret). I don't know what is it called technically. I tried focus but didn't work. Is there something I am missing?

I upload my image to Amazon s3 and this is what I wrote in success callback.

//I get my url here and filename too
http://snag.gy/vQwiP.jpg

http://snag.gy/qOT4v.j

[2015-07-06 16:26] outsideris commented on #65
Can you show your example code?

[2015-07-07 04:45] Bhasuri commented on #65
sure. I am hiding few credentials. This method is called onImageUpload. And as I mentioned, this worked fine if I select the editor, but not if I click somewhere else outside the editor and click on image upload.

function sendFile(file,editor,layoutInfo) {
formData = new FormData();
var filename = file.name;
var domain = "";
if(CURRENT_DOMAIN_USER)
domain = CURRENT_DOMAIN_USER.domain+"/";
if(!isV

[2015-07-08 11:30] Bhasuri commented on #65
Hi,
If you dont mind, can I know when this can be fixed?

[2015-07-08 23:54] tjsail33 commented on #65
This is likely an issue with Summernote itself, not the angular-summernote directive. You should post the issue over there.

[2015-07-11 12:35] outsideris commented on #65
Sorry for late.
I think @tjsail33 is right, and I saw you post the issue in summernote already. (https://github.com/summernote/summernote/issues/1204)

[2015-07-11 12:35] #65 closed

[2015-07-21 12:10] mariusklocke opened #66 "Model value gets overridden in IE11"
Hello,

i have a strange issue in IE11. I am loading my model data via $http, but summernote overrides this model data sometimes. The HTTP Request is triggered on controller initialization.

I placed a $scope.$watch on my model data. It changes three times in IE11.
1. Model is set to undefined (probably due to controller initialization)
2. Model is set to "<br>" (only in IE11)
3. Model is set to v

[2015-07-21 13:34] loykianos opened #67 "ng-disabled"
Hi there,
is there a way to disable the summernote? I have tried using ng-disabled but it doesn't seem to work.
Good job either way.

[2015-07-22 02:06] outsideris commented on #67
Now, it isn't supported. I will consider it.

[2015-07-22 02:09] outsideris commented on #66
It's weird issues. Angular-summernote use sumernote's update event to change ngModel. So, I have to check the behavior in IE 11.

[2015-08-10 13:52] daslicht opened #68 "Please update the Angular Version to the latest"
Please update the Angular Version to the latest  so that we can install it using bower.
~

[2015-08-10 14:26] daslicht opened #69 "JSFiddle throws: Uncaught RangeError: Maximum call stack size exceeded"
When you type in some text in the AirMode example, change one char to bold and click outside the editor we get : Uncaught RangeError: Maximum call stack size exceeded

[2015-08-10 19:25] outsideris commented on #69
Sorry I forgot to release new version. I will release it soon.
I fixed in #62

[2015-08-11 08:43] daslicht commented on #69
Yeah !

[2015-08-11 08:43] #69 closed

[2015-08-13 13:51] RahulPrabhune opened #70 "$compile not working"
To improve performance on page load i would like to load <summernote> directive on edit button click. For that I am doing this
[code]
Which is not working....

Please let me know is there is a better way to do it.

Thanks
Rahul

[2015-08-17 18:42] #68 closed

[2015-08-18 19:00] outsideris commented on #70
Do you want defet initialization #23 ?

[2015-08-18 19:02] tjsail33 commented on #23
i think that a good way to do this would be a boolean initialization variable. I use it in my custom implementation, and tear down the editor when the boolean is false, initialize it when the boolean is true.

[2015-08-19 01:46] outsideris commented on #23
@tjsail33 So, did you expose the variable as attibute like `<sumernote defer="true">`?

[2015-08-19 01:48] tjsail33 commented on #23
I did `<cu-summernote initialized="variable.editable">`.

[2015-08-21 08:31] mapnia opened #71 "Required field with angular"
How can I validate if the text editor is fill as a required field with angular?

Thanks!

[2015-08-24 15:55] xaniuskarlhall opened #72 "Appending a document in angular summernote"
Is it possible for adding a custom button for inserting a link to download a pdf file?

[2015-08-26 14:07] CicciMTS commented on #22
Absolutely +1

[2015-08-26 14:27] CicciMTS opened #73 "Typing on textarea set ng-model to empty string"
Typing on textarea not update the ng-model, summernote seems not working at all in my code.
If the ng-model is filled with some text, typing on textarea set ng-model to empty string.

<div class="form-group" ng-if="editMode" ng-class="{'has-error': kb.problem.$required}">
      <summernote config="summernoteOptions" lang="it-IT" class="form-control form-lg" ng-model="kb.problem"></summernote>
</di

[2015-08-26 17:11] outsideris commented on #71
It's duplicated with #22 . I want to it too, but it is need for supporting of summernote.

[2015-08-26 17:11] #71 closed

[2015-08-26 17:13] outsideris commented on #72
You can do it by writing plugins. See [this](http://summernote.org/#/deep-dive#plugin) for details.

[2015-08-26 17:13] #72 closed

[2015-08-31 13:13] xaniuskarlhall commented on #72
I have tried implementing this feature however I am still not clear on what to do because to me the documentation does not give enough information

[2015-08-31 13:20] xaniuskarlhall opened #74 "implement insert a file path in summernote"
I am using Lararvel 5 with angular-summernote. Additionally, I am having problem trying to implement a insert file path in summernote. What I am trying to accomplish is that when a user clicks on the insert file button, the user would be prompt with a modal box which has a dropdown list of all the documents that have uploaded using a feature I created within my web app. When they have selected a f

[2015-09-01 16:28] RahulPrabhune commented on #70
Yes Please

[2015-09-03 02:53] outsideris commented on #73
show your code or write the example on jsfiddle?

[2015-09-03 02:54] outsideris commented on #70
Ok, It will be handle in #23 .

[2015-09-03 02:54] #70 closed

[2015-09-03 13:40] CicciMTS commented on #73
My code is the simple <summernote ng-model="insertText"></summernote>. Maybe a conflict with other libreries?

[2015-09-04 01:38] outsideris commented on #73
I don't have any clue fot it. What is your versions of angular and summernote you use?

[2015-09-04 01:44] outsideris commented on #74
This is the wrapper of summernote. I think your question is related with summernote not angular-summernote.
Anyway, your issue seems be resolved [insertNode API](http://summernote.org/#/deep-dive#api) or [plugin](http://summernote.org/#/deep-dive#plugin).

[2015-09-04 01:44] #74 closed

[2015-09-04 08:20] CicciMTS commented on #73
For summernote i use 0.6 and for angularJS 1.4

[2015-09-09 21:12] bgrayless opened #75 "Entering new content when in code view doesn't register changes"
This is occurring in the latest versions of both Chrome and Firefox. I'm am using the version 0.5.0 of angular-summernote, and Angular 1.3.x.

I'm having a problem where Summernote does not appear to register changes to the model if the code view is used first. I am wrapping Summernote in another directive with the model as $scope.data.summernoteText.

HTML
<summernote config="summernoteOptions" n

[2015-09-16 18:03] bobmulder opened #76 "Danger for XSS"
Hi,

This script is weak for XSS-attacks.

Tried to following:

[code]

Should be fixed on the angular way maybe?

[2015-09-17 19:25] outsideris commented on #76
What do you mean? Do you mean enter the script in summernote editor?

[2015-09-17 20:41] bobmulder commented on #76
@outsideris

[2015-09-18 03:14] outsideris commented on #76
@bobmulder Yes, this is in summernote-side.
But, I think it is over summrenote's scope, because summernote is a front-end web editor.
You should escape the contents you ennter before you store it database.

If the user enter the code above and change summernote mode to code view, it's not a problem, since the code is entered by the code. It is not XSS-attacks.

[2015-09-18 07:16] bobmulder commented on #76
@outsideris I see your point it's the responsibility of your API (of how you want to call it). But, in my opinion Summernote has a part of the responsibility too...

Take a look at this: https://docs.angularjs.org/api/ngSanitize/service/$sanitize. Would be helpfull to implement I guess?

[2015-09-19 16:21] outsideris commented on #76
@bobmulder I still don't think so, because summernote is a general purpose editor. Somebody use the summernote for a article while others use it for code editor. We can't escape all of it.
If you don't want to use codeview, you can hide it. And I think `$sanitize` is for display something safety in HTML, not editor.

[2015-09-23 11:21] thomaslhostis opened #77 "Directive's content as bound data"
Is there a way to automatically bind the directive's html content to the data?

[2015-09-23 12:37] outsideris commented on #77
use ngModel. see https://github.com/summernote/angular-summernote#ngmodel

[2015-09-24 08:52] thomaslhostis commented on #77
I'm sorry it was not what I meant. Let's say that, when the page loads, my summernote element already has some content. Something like:

    <summernote>
        <p>Hello World</p>
    </summernote>

When the directive is loaded, '<p>Hello World</p>' just disappears. How do you avoid that?

[2015-09-25 12:38] outsideris commented on #77
@thomaslhostis
I meant it.
Use `ngModel` like `<summernote ng-model="text"></summernote>`, and assign the text in your controller like `$scope.text = "<p>Hello World</p>";`.
See [example](https://github.com/summernote/angular-summernote/blob/master/examples/index.html) for more detail.

[2015-09-25 13:17] thomaslhostis commented on #77
@outsideris
Exactly, I want to avoid assigning the text in the controller. What I could do is:

    <summernote ng-model="text" ng-init="text='<p>Hello World</p>'"></summernote>

But I'd rather be able to do this:

        <summernote><p>Hello World</p></summernote>

Is it possible, with your directive as it is, to easily do that?

[2015-09-25 14:24] thomaslhostis commented on #77
@outsideris
I added the ng-transclude attribute to your directive's template and it works for me:

    ...
    template: '<div class="summernote" ng-transclude></div>'
    ...

If you define a ng-model and set its value, it takes over the directive's HTML content. So I'm wondering, is there a reason why you didn't use ng-transclude?

This is great work, by the way.

[2015-09-25 14:30] outsideris commented on #77
@thomaslhostis
There is no reason. Honestly, I don't know about `ng-trasclude` much.
Please explain about `trasclude` to me with more detail and what benefit it provide.
And PR also is always welcome.

[2015-09-25 14:41] thomaslhostis commented on #77
Sure, I'll create a PR :-)

"Transclude is a setting to tell angular to capture everything that is put inside the directive in the markup and use it somewhere in the directive's template." http://stackoverflow.com/questions/24725399/what-is-ng-transclude

[2015-09-25 14:53] outsideris commented on #77
Great!! :smile:

[2015-09-30 04:03] simonlinj commented on #65
I'm trying to use insertImage, but got undefined method. Am I doing something wrong?

[code]

console log
[code]

[2015-09-30 04:16] simonlinj commented on #65
but it does work with `$.summernote.eventHandler.getModule(); `

[2015-10-05 13:16] #77 closed

[2015-10-09 12:56] zaalbarxx opened #79 "Service provider for default behaviour"
Hi!
I think it would be a good idea to create some provider for this module to allow for some default behaviour for all instances of Summernote. For now every time you want to put  some config you have to copy-paste it to every instance, it would be much better to typically merge some settings from provider(mostly thinking about some global handlers for events like for example save or paste) with

[2015-10-12 18:40] outsideris commented on #79
It looks good idea, but I'm considering what interfaces it should expose and how it should support.
Did you see such kind of directive you said in other project?

[2015-10-13 08:21] zaalbarxx commented on #79
Most likely it should expose the way to create some global actions for certain events. In my case it would be just perfect if I would be able to make some action every time the text is pasted into the editor, no matter which one. For now I would have to find every single instance of Summernote in my project and manually add handlers for that. With providers I could just configure it via provider a

[2015-10-14 08:39] Oviglo opened #80 "Support summernote v0.7.0"
Hi,
I have an arror with the lsat version of Summernote:
TypeError: element.code is not a function line 90:
element.code(ngModel.$viewValue || '');

[2015-10-20 12:38] outsideris commented on #80
[In Demo](http://jsfiddle.net/outsider/n8dt4/231/embedded/result%2Chtml%2Cjs%2Ccss/), there is no error.
So, I need more details. @Oviglo

[2015-10-20 13:35] Oviglo commented on #80
Ok, you use the Summernote v0.6.16, but your module don't wrok with the version 0.7.0
https://github.com/summernote/summernote/tree/develop/dist

Thanks.

[2015-10-21 07:41] srobati opened #81 "Nuget Package"
hi guys, please add anguler-summernote package to https://nuget.org . thanks.

[2015-10-22 06:36] outsideris commented on #80
I got it. v0.7.0 doesn't release yet.

[2015-10-23 10:23] gabrielguerrero commented on #50
Hey @outsideris  sorry for the super late response , I agree it should be  better with the debounce as you suggest, but we can not tested because sadly our app is using 1.2.x branch which doesnt have ng-model-options, sadly we have to support ie8 so we are stock with 1.2 hopefully next year will drop ie8 support and move forward
Kind Regards
Gabriel

[2015-10-25 10:07] jozefpinter opened #82 "Destroy & Restore the Ng-model"
is there a way how can I destroy and again restore the ng-model?

<strong>Example:</strong> I have 2 summernote editors. They all got ng-model from the scope.<br/>
<code>
< summernote ng-model="text">< summernote>
<br/>
< summernote ng-model="text">< summernote>
</code>
<br/>
All summernote editor's makes a transclude. That's okay.

Is there a way how can I destroy the connections between them and

[2015-11-01 17:06] Sir-J opened #83 "When two or more elements of the page loads slowly"
Hello!
On my page i have four summernote elements. Page is loading very slowly. How fix this problem?

[2015-11-04 11:34] Jeroen06 opened #84 "ngModel binding not working in v0.51"
When I use angular-summernote v0.51 ngModel binding don't seem to work?

It's working with v0.50: http://jsfiddle.net/fc1xmpgz/
But with v0.51 this example isn't working: http://jsfiddle.net/fc1xmpgz/3/

Or am I doing something wrong?

[2015-11-04 12:32] dimaShin commented on #84
I have the same issue. My case can be fixed if change require params of ngModel (require it without ^)
https://gist.github.com/dimaShin/bbae09a6f9172d47ff1f

Or you can set ng-model on parent DOM element

[2015-11-10 03:38] dtruel opened #85 "error: element.code is not a function"
Hi,

I'm using this directive, and can get the editor to show up just fine.  Unfortunately, I'm getting this error in angular, and ngModel is not updating.  Any ideas why?  As a note, I am using ui-router, and I wonder if that may be causing issues.

[code]

Additional info:

Occurs on line 90 of the file in question.  I did `$().summernote` which returned a function, so I know summernote is initi

[2015-11-10 06:28] dtruel commented on #85
I quit using the compressed version of summernote, and that fixed it.  I'm using meteor, and I think that may have been the issue.

[2015-11-10 06:28] #85 closed

[2015-11-11 18:30] Skleni opened #86 "Binding problem when using backspace in Microsoft Edge"
When you press backspace in Microsoft Edge to delete characters, the binding always seems to be one character behind.

This can be reproduced using this demo: http://jsfiddle.net/outsider/n8dt4/158/light/

Scroll down to the "HTML string in summernote" section and delete characters from the "Hello World" string.

If you change the document mode in the F12 tools to IE11, it works.

[2015-11-16 18:43] outsideris commented on #82
@jozefpinter I don't have any idea to destory and restore the link for ng-model. If you have any hint about it in other directives, I will check it.

[2015-11-16 18:45] outsideris commented on #83
@Sir-J  What is you browser? I'm trying to implement to defer initialization in #23 .

[2015-11-16 18:46] outsideris commented on #84
I will check it.

[2015-11-16 18:48] outsideris commented on #86
@Skleni Thank you for reporting. I didn't check it on Edge. It will try to fix it.

[2015-11-16 19:20] outsideris commented on #81
@srobati I made `Angular.Summernote.0.5.1.nupkg` file using [gulp-nuget-pack](https://github.com/w8r/gulp-nuget-pack). But I didn't know about Nuget package system. Do you know a way to upload the package file automatically?

[2015-11-17 04:20] Sir-J commented on #83
Browser Mozilla Firefox ver. 42.0.

[2015-11-24 23:30] id-nicola commented on #84
Same thing as @Jeroen06 is happening to me too.

[2015-11-25 01:17] zacharyclaysmith opened #87 "Issue with model binding in 0.5.1"
I was using angular-summernote 0.5.1 with angular 1.3.4 within a directive.

The summernote directive refused to observe the ng-model attribute (I attempted to get it working for about 5 hours). Essentially, I was setting the ng-model attribute to existing text (HTML and non-HTML) and nothing ever showed up within the summernote element.

In the end, I downgraded to angular-summernote 0.4.2 and ev

[2015-11-28 00:56] atom0s commented on #80
Also have this issue. Need to use summernote 0.7 in my project for video support.

[2015-11-29 05:53] #84 closed

[2015-11-29 05:56] outsideris commented on #87
It fixed in #84 and I released 0.5.2.

[2015-11-29 05:56] #87 closed

[2015-12-02 08:02] IonutBajescu opened #88 "Events don't appear to be working"
In the scope the variable was declared as `onFocus` (1) , but later, it tries to call `focus` (2) instead - which of course doesn't give the expected behavior.
1 - https://github.com/summernote/angular-summernote/blob/master/src/angular-summernote.js#L127
2 - https://github.com/summernote/angular-summernote/blob/master/src/angular-summernote.js#L22

I'll release a patch once the bug is confirmed.

[2015-12-04 14:11] peruzzo commented on #80
+1

[2015-12-07 00:07] andidev opened #90 "placeholder option does not work"
I can't seem to set the placeholder text with neither
[code]
or
[code]

is it not supported by the angular version yet?

[2015-12-10 01:22] rpalacio86 commented on #80
+1

[2015-12-11 02:27] gongzza commented on #90
i can see the placeholder.

did you set the controllerAs?

[2015-12-11 04:28] hackerwins commented on #55
@alirezamansoori Thanks for reporting.
`onToolbarClick` was removed while refactoring. Could I ask you why this callback needed for your case?

[2015-12-11 05:10] outsideris commented on #88
I think it fixed in #89 because summernote v0.7.0 has breaking changes. I will release new version to support summernote v0.7 soon.
Please repoen it if you are not in this case.

[2015-12-11 05:10] #88 closed

[2015-12-11 15:20] #80 closed

[2015-12-11 18:38] alirezamansoori commented on #55
Both of the following cases would cause on-blur to fire. Case 1: Clicking anywhere outside of the editor. Case 2: Clicking on the toolbar or any controller on the toolbar.
My workflow at the time created the need to distinguish the on blur if caused by clicking on a toolbar/toolbar menu items vs if clicked outside. ontoolbarclick helped with that.
For another instance I blocked any action by onblu

[2015-12-12 22:53] andidev commented on #90
Seems to be resolved with version 7.0 so I'm closing this.

[2015-12-12 22:53] #90 closed

[2015-12-14 01:36] outsideris commented on #90
Good!!

[2015-12-14 02:35] gongzza opened #91 "Placeholder are overlapped in v0.7.0"
안녕하세요.

이번에 버전이 올라가면서 타이밍 이슈가 조금 생긴것 같아요.

ng-model로 설정한 부분이 네트워크로 데이터를 가져온 후에 뿌려줘서 그런건지 다음과 같이

placeholder와 내용이 겹쳐 보이는 현상이 보입니다.

![image](https://cloud.githubusercontent.com/assets/6902005/11771548/33589c80-a255-11e5-858a-31f07e495f32.png)

그래서 저는 우선 데이터를 가져오는 콜백 함수에서 빈문자열을 입력하는 식으로 처리했어요.

[code]

버전은 0.7.0 입니다.

감사합니다.

[2015-12-15 01:44] gongzza commented on #91
확인해 보니까요 아래 부분에서 코드를 추가 하지만 summernote에서 처리가 안되는 것 같아요.
[code]
에고 죄송합니다 ;

[2015-12-15 01:44] #91 closed

[2015-12-15 02:54] outsideris commented on #91
네 summernote쪽 이슈로 얘기 들었는데 아직 확인은 못해봤었습니다. api로 사용할 때 placeholder와 충돌하는 것으로 보이네요. 감사합니다.

[2015-12-16 05:06] gongzza opened #92 "on-media-delete 추가 부탁드립니다."
안녕하세요.

imageUpload를 보면서 혼자 수정을 했는데요. 조금 이상하게 한것같아요;

[code]

이게 target을 바로 넘기니까요. dom을 바로 넘긴다고 에러가 나더라구요.

[Error: $parse:isecdom Referencing a DOM node in Expression](https://docs.angularjs.org/error/$parse/isecdom)

그래서 json으로 한번 감싸니까 넘어가져서 결과를 잘 받긴 하더라구요.

저는 여기까지 인것 같아요.. 잘 부탁드립니다 ~

[2015-12-17 18:16] jkerrwilson commented on #85
As a note to future users who may encounter this problem, I also ran into it using summernote v0.7.0 with angular-summernote v0.3.2. This is resolved by downgrading summernote to v0.6.16.

[2015-12-18 19:44] outsideris commented on #85
@jkerrwilson Thank you for reporting. I wrote about this in README.md but it seems not clear. I will write more details.

[2015-12-21 14:34] Charkhan commented on #91
Hi,

I'm having the same problem here, grabbing data from an API and placeholder sticking around with the content. (Even thought I'm not understanding Korean lol)

[2015-12-22 12:38] gongzza commented on #91
@Charkhan
it will be fixed on summernote 0.7.1 [#1504](https://github.com/summernote/summernote/issues/1504)

[2015-12-22 13:01] Charkhan commented on #91
Nice !

Thanks for the head's up !

[2015-12-24 02:48] outsideris opened #95 "re-consider syntax highlighter"
related with https://github.com/simurai/duotone-light-syntax/issues/4

[2015-12-24 02:49] outsideris commented on #95
My mistake. It's a wrong repo.

[2015-12-24 02:49] #95 closed

[2015-12-24 16:40] JefferE opened #96 "Air Modes does not work"
If you use airMode:  true the toolbar shows up when you select text but the tools do not act on it (i.e. clicking Bold tool does not affect the text).

This happens even in your examples/index.html

[2015-12-28 04:06] outsideris commented on #96
What is your browser?

[2015-12-28 04:11] JefferE commented on #96
Sorry, didn't think to check that. Looks like it works on Chrome properly but not Firefox 43.0.2

[2015-12-28 04:23] outsideris commented on #96
I confirmed it. Thank you for reporting.
This issue is related with https://github.com/summernote/summernote/issues/1510 . It will be fixed in summernote v0.7.1 that is going to release soon, and angular-summernote is expected work properly with summernote v0.7.1.

[2015-12-28 04:23] #96 closed

[2015-12-28 04:24] JefferE commented on #96
Great thanks. Love it so far.

On Sun, Dec 27, 2015 at 11:23 PM, JeongHoon Byun (aka Outsider) <
notifications@github.com> wrote:

[2015-12-31 00:22] infostore opened #98 "2 summernote editor in IE 11"
Summernote 0.7.0에서 paragraph 선택시 에디터가 오동작하여 0.7.1 버전으로 변경하였습니다.
0.7.1로 변경한 후에 IE에서 에디터가 2개가 보이고 있습니다.
요소 검사를 했을 때 확인한 내용은 영문 버전과 한글 버전이 같이 나타나는 현상이었습니다.

![image](https://cloud.githubusercontent.com/assets/2704627/12059503/cba94730-af9f-11e5-92ed-7a7345086c09.png)

![image](https://cloud.githubusercontent.com/assets/2704627/12059504/de959aec-af9f-11e5-9bb9-356266fb44d4.png)

summernote 문젠지 angular

[2016-01-04 11:30] outsideris opened #99 "TypeError: Cannot read property 'isCollapsed' of null"
related with https://github.com/summernote/summernote/issues/1564

[2016-01-05 08:10] gongzza opened #100 "Undefined variable is initialized to empty string."
안녕하세요.

별것 아닌 문제인것 같긴한데요. 어떻게 생각하실지 궁금합니다.

[demo](https://jsfiddle.net/gongzza/0d59afsu/)

데모를 보시면 vm.greeting이 처음에 선언되어 있지 않다가

$timeout 안에서 선언을 하게 되는데요.

summernote에도 잘 적용이 되는데, 이상하게 모델의 값이 빈문자열로 초기화되는 현상이 발생합니다.

다음 부분에서 ngModel의 값과 새로운 값이 같은 값을 가지게 되면서 호출을 안하게 됩니다.
[code]

그런데 정작 모델에는 빈문자열이 들어가 있습니다.

언제 빈문자열로 셋팅이 되는지 모르겠어요 ㅠ

감사합니다.

ps.
jsfiddle을 작성하면서 변수를 선언 해주니 잘되는 것을 발견하게 되었어요 ㅎㅎ;;
그래서 그

[2016-01-05 10:08] LuciferZhang opened #101 "Auto Focus on angular-summernote Occus when i use ng-model in the summernote tag"
<div summernote ng-model="resource.detail" config="options" id="detail"                                  name="detail"></div>

i want to use ng-model to bind a variable to $scope. But when i reload the page, auto focus on angular-summernote occurs.

anyone else has the same question?

[2016-01-05 15:53] Jeroen06 commented on #98
I have the same issue in IE11, I have updated to 0.70 and in Chrome and Edge it is working great but in IE11 it shows 2 Summernote edit boxes.

[2016-01-06 06:45] juhongchul opened #102 "it has onimageupload & insertimage?"
i try to insert & onimageupload event in summernote.

but it can't

i found some document at this site. i.. can't see insert & onimageupload event.
only i can see that  $scope.imageUpload = function(files) {
    console.log('image upload:', files);
    console.log('image upload\'s editable:', $scope.editable);
  }..
i'm wrong? please let me know.
thank you very much.

[2016-01-06 16:02] outsideris commented on #99
It is the issue of summernote that fixed already in the `develop` branch.

[2016-01-06 16:39] outsideris commented on #102
You need to upload the image into your server and make a image node and then insert it in editor.

[code]

[2016-01-06 16:39] #102 closed

[2016-01-06 17:34] outsideris commented on #92
@gongzza  I added on-media-delete. Please check it and tell me what you think about this aproach.
Angular prohibit passing DOM into angular expression.

[2016-01-06 23:18] juhongchul commented on #102
wow..thanks a lot

[2016-01-07 01:22] outsideris commented on #101
It is the issue that is related with https://github.com/summernote/summernote/pull/1569 . I confirmed it is fixed in `develop` branch of summernote. I expect it will be fixed in v0.7.2 of summernote.

[2016-01-07 08:36] LuciferZhang commented on #101
Got It! Thanks

[2016-01-07 08:36] #101 closed

[2016-01-08 08:31] wtwei commented on #80
TypeError: element.summernote is not a function

[2016-01-08 17:07] outsideris commented on #80
@wtwei Did you include summernote.js?

[2016-01-08 18:12] brandonros commented on #99
How can I get a build with this fixed?

[2016-01-09 01:41] wtwei commented on #80
@outsideris That is the question. I think that angular-summernote contains summernote

[2016-01-09 13:59] sergiofigueras commented on #99
The same too. How can I get a new version?

[2016-01-11 00:58] Pyohwan commented on #98
+1

[2016-01-11 01:49] outsideris commented on #99
@brandonros @sergiofigueras I will tell summernote core team about the release schedule.

[2016-01-11 01:51] outsideris commented on #80
@wtwei No, it is a just wrapper. You should include summernote.js like [a example](https://github.com/summernote/angular-summernote/blob/master/examples/index.html).

[2016-01-12 13:56] virtser opened #103 "Double editor window in IE on load"
I'm getting double editor window in Internet Explorer 10 & 11.

My directive is declared as: ```<summernote config="options" ng-model="notification.content"/>```

See the issue here:
![sauce labs manual test](https://cloud.githubusercontent.com/assets/468590/12265298/00e678e2-b945-11e5-999c-f74493b6001c.png)

[2016-01-13 10:30] ddolcimascolo opened #105 "Setting summernote's contents to an empty string is wrong"
It breaks the editor under Firefox completely. We should use the _emptyPara_.

[2016-01-14 13:20] Jeroen06 commented on #103
I have the same problem, there is another ticket describing the same problem with the double editor in IE11: https://github.com/summernote/angular-summernote/issues/98, hopefully this can be fixed soon I checked the code but I could not fix the problem unfortunately.

[2016-01-15 10:58] emeryowa commented on #98
I also have the same issue.
It appears the issue occurs on summernote v0.7.1 and greater. On summernote v0.7.0 the editor appears normal. When using summernote standalone (jquery version, without angular-summernote) the editor also appears normal.

[2016-01-15 11:34] outsideris commented on #99
fixed in summernote v0.7.2.

[2016-01-15 11:34] #99 closed

[2016-01-15 11:38] #105 closed

[2016-01-18 18:41] outsideris commented on #103
It will be managed in #98 even if initial post is Korean.

[2016-01-18 18:41] #103 closed

[2016-01-18 18:48] outsideris commented on #98
I pushed a commit for trying to fix it. Sorry for taking a time to check it, because my test environment for IE is not good even if it is a critical issue.
I guess it is a timing issue. Honestly, I didn't found what the problem exactly is, but the workaround works for me in IE 11.
Please check it in your code and leave feedback if you can.

I will release the fixed version if I confirm the issue i

[2016-01-19 09:37] Jeroen06 commented on #98
The fix works for me in IE11, it does not show an double editor anymore.
But the performance is not very good in IE11, there is noticable lag when typing and I can see the CPU usage rise to 30% while typing. In Chrome there is no lag, and the CPU usage stays way lower (~ 1%).

[2016-01-19 12:53] billyaraujo commented on #67
+1

[2016-01-19 15:38] graingert opened #107 "upload 0.7.0 to npm"
@outsideris currently only 0.5.2 is available

[2016-01-19 19:12] outsideris commented on #107
@graingert Oh! I missed it. I just published it.

[2016-01-19 19:12] #107 closed

[2016-01-21 13:45] gongzza commented on #92
@outsideris 안녕하세요 ~ 추가해주셔서 감사합니다 ~ 제가 답변이 많이 늦었네요 ㅠ
제 생각에는 완벽한 것 같아요 ㅎㅎ 감사합니다 ~

[2016-01-22 07:08] outsideris commented on #92
@gongzza Thank you for confirmation.

[2016-01-22 07:08] #92 closed

[2016-01-22 09:32] outsideris opened #108 "Performance issue in IE11"
@Jeroen06 reported it in #98

[2016-01-22 09:35] outsideris commented on #98
I released v0.7.1 to fix this issue.
I is just a workaround. I discussed with summernote core team about this issue and [they fixed it](https://github.com/summernote/summernote/pull/1628).
Summernote v0.7.4 will fix this issue. After that I will remove the workaround.

[2016-01-22 09:35] #98 closed

[2016-01-26 06:23] nwpan opened #110 "Triggering "undo" on first load causes Summernote to be blank."
Hey all -- I've ran into a bug that affects the the first "undo" of Summernote. When you trigger an "undo" upon loading, the text gets set to a blank value. This affects the History stack of Summernote, causing a strange behaviour. I'm proposing a fix (see PR [here](https://github.com/summernote/angular-summernote/pull/109)).

For a example, I've provided two scripts below... First is the original

[2016-01-27 01:14] vani12345 commented on #80
Same error. Included summernote.js. Any solution?

[2016-01-27 01:25] atom0s commented on #80
@vani12345 Upgrade your summernote and angular-summernote versions. They are working fine now.

[2016-01-27 05:14] vani12345 commented on #80
I have angular-summernote version 0.7.1 and summernote version 0.7.3 . This are the latest in github

[2016-01-27 05:22] outsideris commented on #80
@vani12345 What is your error exactly, and does it ocurred alwaty?

[2016-01-27 05:25] vani12345 commented on #80
element.summernote is not a function at activate.... on angular-summernote.js at line 71 and 163

Yes, it occurs always.

[2016-01-27 05:38] outsideris commented on #80
It looks like there is no summernote.js. In [demo](http://jsfiddle.net/outsider/n8dt4/271/embedded/result%2Chtml%2Cjs%2Ccss/), no error occured. It uses angular-summernote version 0.7.1 and summernote version 0.7.3.
I need more information such as browser or OS.
Can you load summernote editor witout angular-summernote?

[2016-01-27 19:39] vani12345 commented on #80
I am using require to load the modules..
in the require.config, I have paths for summernote.js and angular-summernote.js
in shim,     'summernote':{
       exports: 'summernote'
    },
    'angular-summernote':[
       'angular',
       'summernote'
    ]

In the require ['summernote', 'angular-summer-note'], function (....){}
In the module, I have 'summernote' dependency and in html, using <summe

[2016-01-28 21:28] shadybones opened #111 "options.callbacks being overwritten"
So, now one has to add callbacks to all summernote elements instead of just one global location like a shared summernote options object.

Why not keep reference to the original callbacks object, and call those functions if they exist? Like this:

[code]

[2016-01-28 21:44] shadybones commented on #111
Geez, an even worse issue is that you're modifying the config object and you're not even making a copy of it first! Bad form ;) If you're going to muck with my configs, have the decency to not do it to the original object. This prevents one from having a global config.

[2016-02-01 18:15] outsideris commented on #111
I didn't understand why ` !evt.defaultPrevented && angular.isFunction(originalCallbacks.onEnter) && originalCallbacks.onEnter(evt)` parts are needed?

But I agree with you for making a copy of the config object.

[2016-02-01 18:16] outsideris commented on #110
fixed in #109

[2016-02-01 18:16] #110 closed

[2016-02-04 02:01] shadybones commented on #111
well, !evt.defaultPrevented isn't really needed I suppose

[2016-02-04 02:13] shadybones opened #113 "timing issue with summernote 0.7.3"
I don't know why this doesn't affect 0.7.2, but it doesn't.
A-S code inside this.active:
[code]

In this order (this is on init):
1) Model set to Value1
2) onChange is called with Value1, Timeout1 calls updateNgModel, which makes Timeout2.
3) Model is set to Value2
4) onChange is called again with Value2, which Triggers Timeout1, which calls updateNgModel, but does not create another Timeout 2.
5)

[2016-02-05 12:18] outsideris commented on #111
I don't understand `originalCallbacks.onEnter(evt)` part, too. `$scope.enter({evt:evt});` call a function which a user bind it to callback. Why it invoke callbacks again?

[2016-02-07 19:42] shadybones commented on #111
Ok, try re-reading the opening issue (making a copy of the config object is just a side issue). Basically, I want to be able to have a globally shared config object for all my summernotes, which contains these event callbacks. Currently, you overwrite these values on the config object, forcing one to add "on-event" attributes in the HTML, to each of the (possibly) dozens of summernote forms. This

[2016-02-10 17:43] simonlinj opened #114 "unable to get the editor object"
this used to work to get the editor
[code]

But after update summer note to version 0.7.1 its broken.

The correct way to get the editor object, I got the object but can't  use this functions with it `insertImage(editable, url)`

Thanks!

[2016-02-11 14:32] Cabeza commented on #114
try this instead

[code]

[2016-02-13 12:26] outsideris commented on #114
Did you see <https://github.com/summernote/angular-summernote#event-listeners>?

[2016-02-15 13:43] simonlinj commented on #114
@Cabeza
thanks!  its working fine now!

@outsideris
Yes, I did. But didn't know how to implement it.
I inspected the $scope.editor object and indeed the editor was there, but couldn't find a way to call insertImage.

Would be nice if there is an example code in the documentation. I searched on Google & SO and saw many wrong answers around.

[2016-02-15 13:49] billyaraujo opened #115 "Does angular-summernote support angular 1.5?"
If so, can you update bower.json to reflect this?

[2016-02-15 14:24] simonlinj commented on #115
Yes, we are running it with angular 1.5

[2016-02-19 11:26] outsideris commented on #115
@simonlinj Thank you for your information.
@billyaraujo I missed the release schedule for angular 1.5. I should change primary target to angular 1.5 from angular 1.4 while keep to compatible with angular 1.4.
I will fix it soon.

[2016-02-19 11:30] outsideris commented on #114
@simonlinj I got it.

[2016-02-19 11:40] billyaraujo commented on #115
@outsideris  thanks.

[2016-02-26 08:24] CheolJeJo opened #116 "It seems a typo in readme.md"
' fontface ' -> ' fontname '
' textsize ' -> ' fontsize '

## options object

[code]

[2016-02-28 19:17] outsideris commented on #116
Did you use airmode?

[2016-02-29 01:28] CheolJeJo commented on #116
I did not use the airmode.
I solved the problem by modifying the name of the property.
'fontface' -> 'fontname'
'textsize' -> 'fontsize'
It seems a typo in readme.md

[2016-02-29 11:20] Dihan2715 commented on #80
@vani12345 Hey, I found the solution here: http://stackoverflow.com/questions/26681675/how-to-use-summernote-with-angularjs. Hope it help

[2016-02-29 11:56] outsideris commented on #116
@CheolJeJo Thank for updating the title.

In this [demo](http://jsfiddle.net/outsider/n8dt4/292/), it works with same options as README.
What is the problem that you experienced before fixing the name of properties.
I can't reproduce the problem. What is your OS and browser?

[2016-02-29 16:46] Shamail-AS commented on #108
Hello,

Has this issue been fixed? Or is there any hotfix for this performance issue in IE 11 that i can do as a workaround? Any help would be genuinely appreciated!

Thanks,
SAS

[2016-03-02 01:24] CheolJeJo commented on #116
I use a Mac OS X 10 and Chrome 48.0
I will try some more tests.
And I'll write a article again.

[2016-03-03 13:35] outsideris commented on #116
@CheolJeJo Thank you. I will wait for your reply.

[2016-03-05 08:46] #115 closed

[2016-03-07 11:13] billyaraujo opened #117 "Upgrade to release 0.8.0"
After updating to release 0.8.0 I noticed typing inside angular-summernote control is much slower (even with only about 20 lines). I downgraded to angular-sommernote 0.7.1 and it is now fine.

There seems to be some more processing going on in release 0.8.0.

[2016-03-08 07:39] chakrabandla commented on #67
Any updates please

[2016-03-11 01:17] luncht1me opened #118 "Custom Buttons?"
[Summernote has Documentation on custom buttons here](http://summernote.org/deep-dive/#custom-button)

Can we, or is this implemented with this plugin? I'd love to have a couple custom buttons but having hard time getting it to work.

[2016-03-11 07:54] cowenchin commented on #65
$scope.editor.summernote('insertImage', response.url, file_name);

[2016-03-14 16:38] miguelrcDEV commented on #27
+1

[2016-03-15 09:54] miterfrants commented on #27
I got same problem

[2016-03-16 12:34] outsideris commented on #118
@luncht1me You can add it with [option object](https://github.com/summernote/angular-summernote#options-object) like:

[code]

[code]

[2016-03-16 12:34] #118 closed

[2016-03-17 13:05] lJakel opened #119 "updateNgModel CPU Usage"
I am having major performance issues with angular-summernote. 0.7.3 had much better performance but still almost unusable. updateNgModel gets called 8-15 times per key stroke. Even with ng-model-options. After typing about 15 characters, updateNgModel was called over 2000 times and browser froze (latest chrome). I am using the latest Summernote and latest Angular-Summernote.

[code]

[2016-03-17 17:01] longgeek opened #120 "TypeError: $dialog.modal is not a function"
In using summernote page, use the browser back or forward a page will throw the following exception, I do not know what causes, looks summernote problem。

TypeError: $dialog.modal is not a function
    at Object.ui.hideDialog (http://localhost:3001/bower_components/summernote/dist/summernote.js:1976:15)
    at destroy (http://localhost:3001/bower_components/summernote/dist/summernote.js:6380:10)

[2016-03-17 17:26] #120 closed

[2016-03-17 18:42] lJakel commented on #119
Changing the link function to this works as intended. Debouncing doesn't work because you are updating the model anyway using the onchange callback. You were also attaching a watch every time the model value changes. I also didn't understand why you were appending the data every time it changed. This new link function works perfectly and the performance is perfect.
[code]

[2016-03-21 11:47] CheolJeJo commented on #116
I used the lower version of summernote.
I have updated to the latest version
It works well
Thank you :)

[2016-03-23 07:50] elaijuh commented on #119
yup, the frequent DOM mutation blow me off

[2016-03-24 16:27] outsideris commented on #119
I guess that recent pull requests decrease performance. Sorry for that fixing the issue takes a pretty long time. Thank you for deeply test for it. I will fix it soon.

[2016-03-24 16:28] outsideris commented on #116
Good. Thank you.

[2016-03-24 16:28] #116 closed

[2016-03-28 17:55] sanketmehta7 opened #122 "Passing airMode = true in $scope.options overrides all other configs that are in options object."
`$scope.options = {
		    height: 300,
		    toolbar: [
		            ['edit',['undo','redo']],
		            ['headline', ['style']],
		            ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
		            ['fontface', ['fontname']],
		            ['fontclr', ['color']],
		            ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']],

[2016-03-28 18:38] #117 closed

[2016-03-28 18:38] #119 closed

[2016-03-28 18:44] outsideris commented on #119
@lJakel Your snippets are very helpful to fix this issue. Thank you.

[2016-03-28 18:47] outsideris commented on #117
@billyaraujo There was an issue that reactivates editor when ngModel are updated. Sorry, for it takes a long time to fix the problem. Please check with v0.8.1.

[2016-03-28 18:49] lJakel commented on #119
Great @outsideris
Now let's fix the debounce! :D

[2016-03-29 07:32] frederikheremans opened #123 "Every change in the editor causes a new instance to be created, causing slow destoy"
Hi, i'm using the `0.8.0` version of `angular-summernote` (combined with `angular-bootstrap`, not sure if it's relevant).

I'm using the ng-model approach to bind the edited HTML to a value in the scope of my own directive, using the summernote directive. This value is initialised with a value from a REST response and set, before the directive is included (using ng-if). Editing and saving the cont

[2016-03-29 08:13] billyaraujo commented on #117
Sounds great. Thanks for the update.

[2016-03-29 19:34] outsideris commented on #119
@lJakel I will make an issue for it.

[2016-03-29 19:34] outsideris opened #124 "Debounce on ngModelOptions doesn't work"
#119

[2016-03-29 20:35] lJakel commented on #122
Works for me using this

[code]

[2016-03-30 05:46] frederikheremans commented on #123
This is related to the way the `link` function works and fixed as part of #119

Thanks!

[2016-03-30 05:46] #123 closed

[2016-03-30 06:20] sanketmehta7 commented on #122
Yes it is "controller as"
JS code
[code]
HTML code
[code]

[2016-03-30 06:36] sanketmehta7 commented on #122
Also how to enable hint for emojis feature of summernote with this?

[2016-03-30 08:25] outsideris commented on #123
@frederikheremans You got a point of the issue. :+1:  Sorry for your wasted your time to dig the problem and source. I fixed it just a few days ago.

[2016-03-30 08:26] frederikheremans commented on #123
No worries, just upgraded to `0.8.1` this morning and got rid of my workaround. Thanks for fixing!

[2016-03-30 13:43] lJakel commented on #122
So am I, you need to use below per summernote's api. airPopover not toolbar
airMode: true,
airPopover: []

[2016-04-01 17:56] sanketmehta7 commented on #122
Tried that too but no success. Also with every new update (typing), response get slower, I think there is some leak.

[2016-04-01 18:03] lJakel commented on #122
Angular summernote 0.8.1 fixes the typing.

[2016-04-01 18:07] sanketmehta7 commented on #122
ok let me upgrade, thanks buddy. Upgrading might resolve the prior issue may be.

[2016-04-03 11:50] sanketmehta7 commented on #122
Still airmode issue persist.

[2016-04-03 14:27] sanketmehta7 opened #125 "airMode accessibility issue on android and editor not working for safari (ios&mac)"
Using airmode for editor, while editing on android, default popup of android appear, making editing almost impossible.
![image](https://cloud.githubusercontent.com/assets/1917527/14232900/cb0ed62a-f9d5-11e5-8c19-1bd073d85155.png)
Making that popup disappear also deselects the text so editing or styling text becomes impossible.
![image](https://cloud.githubusercontent.com/assets/1917527/14232913/40

[2016-04-03 19:57] gpolucci commented on #41
Hey. Whatever happened with this?   I'm using angular sumernote on a div with a model binding directive (ng-model), and it's just ignoring everything I try. No association with the model whatsoever.

[2016-04-04 13:09] lJakel commented on #122
Here is a workaround.
[code]

[2016-04-06 18:51] kibray commented on #56
Sorry but it's two days that I'm trying to figure out how to access the editor.
I have just uploaded to the version 0.8.1 and I read documentation and all the issued opened and closed about this topic, but still nothing, I can get the image in the editor (before updating was working well).

This is my code:
`<summernote ng-model="text"
		config="summeroptions"
		on-image-upload="imageUploaded(file

[2016-04-08 07:11] sanketmehta7 commented on #122
fixed thanks

[2016-04-08 07:11] #122 closed

[2016-04-08 07:11] sanketmehta7 commented on #125
Can you guys please check, it doesnot work in safari for both mac and ios.

[2016-04-08 15:33] outsideris commented on #125
I think it should be resolved in summernote such as https://github.com/summernote/summernote/issues/1669

[2016-04-08 15:38] outsideris commented on #56
@kibray What browser and what version of summernote did you use?

[2016-04-08 15:39] outsideris commented on #41
@gpolucci Can you show your code?

[2016-04-08 15:52] kibray commented on #56
@outsideris thank you for your replay.
I'm using Chrome and Summernote v.0.8.1
I finally understood where was the problem, I was using an ng-if inside the directive <summernote></summernote> and apparently this way doesn't work. I tried with ng-show/ng-hide and It finally returns the editor but now I got an Angular(v 1.4.7) issues: 'Referencing a DOM node in Expression'.

[2016-04-08 17:44] sanketmehta7 commented on #125
@outsideris this ticket has two issues, one that you linked to accesibility issue on android and ios, since they both show their own popup. Apart from that on safari iOS & mac, editor itself doesn't work. You can't focus editable area. Do check that also.

[2016-04-12 05:37] sanketmehta7 commented on #125
Any body can please check why angular-summernote is not working for safari (ios & mac). Editor itself don't respond. This is getting pretty urgent for me.

[2016-04-14 00:39] gpolucci commented on #41
Thanks man. I fixed it. My versions were out of whack. All my bad.
G

From: "JeongHoon Byun (aka Outsider)"
Reply-To: summernote/angular-summernote
Date: Friday, April 8, 2016 at 11:39 AM
To: summernote/angular-summernote
Cc: "gerry@smartparents.com<mailto:gerry@smartparents.com>"
Subject: Re: [summernote/angular-summernote] Angular ng-model not updating on change (#41)

@gpolucci<https://github.c

[2016-04-15 01:28] outsideris commented on #41
Good to hear that.

[2016-04-16 16:48] chrney opened #126 "Config not available inside directive"
When doing this,

`	angular
		.module('common')
			.directive('textArea', textAreaFn);

	textFieldFn.$inject = [	];
	textAreaFn.$inject = [ '$compile' ];

	function textAreaFn($compile) {
		return {
			require: "?ngModel",
			scope: {
				options : '='
			},
			template: "<summernote config='options'>{{options }}{{ label }}</summernote>",
			link: function(scope, element, attrs, ngModel) {
				sco

[2016-04-18 16:23] lJakel commented on #126
The problem lies within your directive. Changing the scope after to summernote taking over. Because in your HTML if you do options="{height:300}" or any other config combination it works fine. Angular summernote sees that config option and adds it to SummernoteConfig. Changing the scope in the link function will not work since summernote has already been called. You would need to change the scope

[2016-04-19 04:14] chrney commented on #126
Could you show me a proof of concept where the mentioned "options='{ height: 300'}" works for you? It clearly does not for me. However, I could then neither config custom buttons within that directive, could I.

[2016-04-19 12:29] lJakel commented on #126
[http://jsfiddle.net/gmxe2hcg/8/](url)

[2016-04-19 19:23] jrbecart opened #127 "Plugin template doesn't seems to work"
Anybody tried the template plugin?

https://github.com/Nanakii/summernote-plugins/tree/master/plugin/template

(Listed here: https://github.com/summernote/awesome-summernote)

Icon of the plugin doesn't show up in the toolbar.

[2016-04-20 23:17] moaead opened #128 "codeview first run does not update"
Hi, so the issue is if you go to codeview directly and write some code it does not affect the model unless you do an action like go back to the normal view.

Thanks

[2016-04-21 08:28] itsmeavi opened #129 "submit image"
I'm new to summernote. I am developing an SPA using angularjs.
There I have created a form where a question is submitted. So you an image might be required along with the question text and answers.
My question is how to submit the image also along with the text??
I am using ajax jquery post....

[2016-04-21 08:55] miguelrcDEV opened #130 "Angular translate not working on placeholder"
When i try to translate the placeholder of summernote as:
`<summernote placeholder="{{placeholder_summernote}}" config="summernote_options"></summernote>` (Using $translate service)
or
`<summernote placeholder="{{'attendance_comment' | translate}}" config="summernote_options"></summernote>` (Using $translate directive)

Not work. Wait for your response. Regards

[2016-04-21 09:00] miguelrcDEV commented on #130
I fixed this using placeholder in summernote options in controller like:
[code]
If for anyone more it is useful.
But it would be good that could be done directly from the html attribute

[2016-04-21 09:00] #130 closed

[2016-04-25 06:24] martijndebruijn commented on #67
+1 would be great. Reduces a lot of boilerplate is my existing code.

[2016-04-25 06:32] martijndebruijn commented on #22
+1.

[2016-04-25 10:46] sanketmehta7 opened #131 "Safari browser for iOS & mac, editor itself doesn't work."
Specific issue to angular-summernote (it does not exist on summernote).

Reproducible: Safari browser for iOS & mac, editor itself doesn't work.

You can't focus editable area, and cursor doesn't appear. So question of further editing here.

[2016-05-05 05:56] JeevPRobinson opened #132 "Modal Closing Issue when multiple modals being used"
I have placed the summernote editor inside a modal(say, parent modal) which has so many other fields along with summernote. When I try to insert picture using summernote, it pops-up a new modal(say, child modal) and does the work(it works fine). But when I close the child modal, the scroller of the parent modal disappears and the scroller becomes active for the page where I call the parent modal.

[2016-05-05 10:16] steverob commented on #132
@JeevPRobinson what version are you on?

Do you mean?

[2016-05-05 10:25] JeevPRobinson commented on #132
@steverob I am using 'rails-assets-angular-summernote (0.7.1)'

Exactly Steve. That is the issue I am facing.

[2016-05-09 09:31] dhoko commented on #79
+1

And also we can register the configuration for each directive inside this service, better than using the scope for that.

[2016-05-10 12:23] hamxabaig commented on #67
+1 please.

[2016-05-18 12:31] outsideris commented on #125
@sanketmehta7 Sorry for being late. I will check it.

[2016-05-18 12:33] #126 closed

[2016-05-18 13:15] outsideris commented on #128
@moaead What did you means that going to codeview directly? Syncing model works fine in codeview.

[2016-05-18 13:23] outsideris commented on #129
You can submit it with `multipart/form-data`, and it isn't related with summernote.

[2016-05-18 13:23] #129 closed

[2016-05-18 13:37] outsideris commented on #127
I tested it right now.
It works fine.

[code]

[2016-05-18 13:37] #127 closed

[2016-05-18 13:40] outsideris commented on #132
It was happened in `angular-summernote`, not `summernote`.
Could you provide an example to reproduce it?

[2016-05-18 13:41] outsideris commented on #113
Could you check it in v0.8?

[2016-05-19 21:34] Ya-Wang opened #133 "Downdowns All Open Constantly"
![capture](https://cloud.githubusercontent.com/assets/3073708/15410240/b4bd2ab8-1de6-11e6-9683-0559a1d1f10b.PNG)

Issue is as seen.

Here are the imports:
[code]

This happened with the regular non-directive jquery version as well.

[2016-05-21 01:46] Ya-Wang commented on #133
Well I no longer I am trying to use summernote. Using a textangular made for angularjs instead.

[2016-05-21 01:46] #133 closed

[2016-05-31 07:59] Emidomenge opened #135 "Unable to use angular-summernote correctly"
I downloaded
[code]

I add to my app.js :
`'summernote'`

Then, in my html file :
`<summernote ng-model="articleContent"></summernote>`

I've got this error in my console :
`angular.js:13642 TypeError: $node.attr(...).tooltip is not a function`

I guess, I missed something while downloading ? I checked everywhere ...

Here some info :

In my bower.json :
[code]

Note :
Maybe the problem is because

[2016-05-31 08:39] apur opened #136 "ng-readonly for readonly summernote"
Hi,

I tried using ng-readonly to have a readonly summernote, could not make it work, could you please help?

[2016-05-31 11:14] Emidomenge commented on #135
Ok I solved it myself. I need to add :
`<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>`

[2016-05-31 11:14] #135 closed

[2016-06-01 07:42] Emidomenge commented on #118
@outsideris,  I tried your example. It displays the hello button well but  I've got an error when I click on it :

`Uncaught TypeError: Cannot read property 'invoke' of undefined`

on this line `context.invoke('editor.insertText', 'hello');`

Have you any idea to solve it ?

I'm using :
[code]

[2016-06-02 04:32] chanwooro opened #137 "Keypress"
Does summernote support keypress? (not keydown or keyup)

[2016-06-03 12:46] outsideris commented on #136
It isn't supported yet. I will check a way to support it.

[2016-06-03 12:46] outsideris commented on #135
Good!

[2016-06-03 13:14] outsideris commented on #118
@Emidomenge I guess it's is a bug in summernote v0.7.x.

[2016-06-03 13:15] outsideris commented on #137
No, it doesn't. http://summernote.org/deep-dive/#onkeyup-onkeydown

[2016-06-03 13:15] #137 closed

[2016-06-06 09:56] Emidomenge commented on #118
@outsideris Indeed, using last release it works good. But then, I have [this issue](https://github.com/summernote/summernote/issues/1676). All my icons are missing in my dist folder. :(

[2016-06-06 12:33] outsideris commented on #118
I got it. I will be handled in summernote.

[2016-06-07 07:34] Thilak8654 opened #138 "How to show the preview of summernote content edited?"
i have used ng-model and {{expression}} to show the preview. but it shows with html tags and image in some other format which doesn't display the image. how to display the content which also includes images without html tags .
[code]
can anyone please help me on this.

[2016-06-07 09:37] #138 closed

[2016-06-09 07:46] scne commented on #138
up

[2016-06-09 08:07] Thilak8654 commented on #138
[Answer here](http://stackoverflow.com/questions/37656714/how-to-show-the-preview-of-summernote-editor-data-including-images-and-format-in)

[2016-06-10 13:51] Emidomenge opened #139 "Insert then Display Html tag using custom button"
In my case, I create a custom button to add `<iframe>` tags in the editor.
`var myiFrameString = "<iframe src='...'></iframe>";`
When I do :
`$scope.editor.summernote('editor.insertText', myiFrameString);`

It displays the string itself, not the iFrame.

I tried something like :
`$scope.editor.summernote('editor.insertCode',  myiFrameString);
`
But it doesn't work...

Any suggestion ? Thanks !

[2016-06-13 09:59] Emidomenge commented on #139
`$scope.editor.summernote('code', myiFrameString);` is the solution. My bad.

[2016-06-13 09:59] #139 closed

[2016-06-15 11:50] scne commented on #120
up

[2016-06-15 16:46] scne opened #140 "not working with angular-bootstrap"
In my Chrome's console there are this two errors

`jquery.js:9779 Uncaught TypeError: elem.getClientRects is not a function`
`summernote.js:1972 Uncaught TypeError: $dialog.modal is not a function`

I've tried with and without angular-bootstarp but the result is the same.

Please help me!

[2016-06-15 17:31] scne commented on #21
@mschwartz I'm usign `ui.bootstrap` module but I've still a lot of troubles :sos:

[2016-06-15 17:45] scne commented on #140
Ok with `bootstrap` and `jquery 2.1.0` all works fine. When I try to `use ui.bootstrap` I have to install `jquery-ui` otherwise I get error about tooltips function. So when I install `jquery-ui` error about tooltips gone but I get error above `jquery.js:9779 Uncaught TypeError: elem.getClientRects is not a function`

[2016-06-15 18:02] scne commented on #140
Ok with `jquery:2.2.4` and `jquery-ui:1.11.4` all errors gone but I can't  use it correctly!

[http://jsfiddle.net/n8dt4/357/](http://jsfiddle.net/n8dt4/357/)

[2016-06-16 07:59] bjaraujo commented on #120
Hi,

I am having similar problem. Why is this closed? Have you found a solution?

[2016-06-19 00:56] melatawy commented on #54
@alirezamansoori
I have this problem in normal summernote, not the angular one.... How did you solve it? I couldn't find the solution elsewhere...

[2016-06-28 20:52] alirezamansoori commented on #54
@melatawy It's been a while - six months since I last looked through the summernote.js. I also remember my solution wasn't perfect so I didn't use it for too long and ended up writing a simple directive that had its own toolbar with less options to use with the summernote js library. So I don't recommend what my old solution was. But I think it was something like this....
it included adding
[code]

[2016-07-03 09:15] Jack614 opened #141 "How to get image data when I upload a image?"
Hi, my code in html file is :
`<summernote height="250" ng-model="comment_text" on-image-upload="imageUpload(files)" editable="editable" editor="editor" class="form-control"></summernote>`
in js file I write a function, it shows upload image imformation:
`console.log('image upload:', files);`
but there is only file date,file size,file type and some other info.How can I get image data,since in the

[2016-07-03 11:04] outsideris commented on #141
What did you mean image data exactly?

[2016-07-03 12:12] Jack614 commented on #141
@outsideris The image data is such as binary data of the image,I can upload the data with $http service,here is the code I write to upload the image:
[code]
thank you!

[2016-07-03 14:58] Jack614 commented on #141
It can't be solved with angularjs and I use jquery,thank you.

[2016-07-03 15:21] #141 closed

[2016-07-05 04:21] laiyituan opened #142 "when i use on-image-upload and editable="editable" editor="editor" ,why $scope.editor is undefined?"
i use summernote v0.8.1 and chrome:
`<summernote ng-model="editItem.description" on-image-upload="imageUpload(files)" editable="editable" editor="editor" height="300"></summernote>`

` $scope.imageUpload = function(files) {
    console.log('image upload:', files);
    console.log('image upload\'s editor:', $scope.editor);
    console.log('image upload\'s editable:', $scope.editable)};`

i got this

[2016-07-05 08:27] #142 closed

[2016-07-11 21:34] deblis opened #143 "not showing dropdown"
Hello

I am doing a proyect with angular and the theme use summernote with joing this js not work  the dropdown when i refresh the page, not display te dropdown. I dont know that happend.
![summernote](https://cloud.githubusercontent.com/assets/7839871/16747506/5fe80848-478d-11e6-853b-47bfcc2cd500.png)
![summernote1](https://cloud.githubusercontent.com/assets/7839871/16747578/a28d104e-478d-11e6-8b

[2016-07-22 07:09] Vnthf opened #144 "I dont understand editor attribute"
You said
[code]
Is it right?
in angular, attribute value in directive can't use out of directive

[code]
It just can use in angular-summernote directive;

[2016-07-22 07:45] #144 closed

[2016-07-26 11:06] blackmatch opened #145 "multiple editors in one .html file"
hello,
I want to init two summernote instance in one html file. And I user two <summernote> tags ang binding different config(like:$scope.summernoteConfig1,$scope.summernoteConfig2) and on-image-upload(uploadImage1,uploadImage2) functions. But when the second summernote editor show(binding with $scope.summernoteConfig2 and uploadImage2), the uploadImage2 function can not be called.

my main code:

[2016-07-30 23:12] akoury commented on #92
@outsideris is there a way to get this to work when the user deletes the picture with the backspace key? currently only works if they delete it through the delete button

[2016-08-03 06:24] essivision opened #147 "Lack summernote after insert image"
Hi,

I use your plugin in Angular project but after insert image as base64, type in editor with delay and some times after 4 second from key-press character shown.

Thanks

[2016-08-08 21:01] azhaziqgoh opened #148 "element.summernote is not a function"
Hi,
I try to use the angular-summernote, but when I called <summernote></summernote> it throws element.summernote is not a function. I tried to debug in the lib by using jquery $('.summernote').summernote() and it works. But when use element it does not work. Any solution for this.

FYI version use is 0.8.1 for angular-summernote, 0.8.2 for summernote

[2016-08-09 11:51] sanketmehta7 commented on #125
@outsideris any updates on this?

[2016-08-12 08:42] jagdeepsingh91 opened #149 "Font style, font color, bullets , etc. functionality not working on entered text"
Hi,
I have noticed that few functionality are not working like : Font style, font color background & foreground , bullets etc not working.

And i have noticed that you are using <font> tag which is deprecated in HTML5.
Is there any work around to use these functionality. Please revert back asap.

[2016-08-22 05:18] liamhughes commented on #131
I was having this problem.

For me the problem was that `contenteditable="true"` did not work when `user-select: none` CSS was applied to the element.

Solved by adding the following to a more specific CSS rule (i.e. the particular dialog that had my editor):

[code]

[2016-08-24 14:03] liuzhongshu opened #150 "two editor in one controller"
In my view, there are two editors, and seems the $scope.editor and $scope.editable will conflict. In callback function, only one editor can be accessed.

[2016-08-26 07:32] cmtest0000 opened #151 "How to use "dialogsInBody: true" within angular-summernote"
I want place the dialogs in body.
I have tried `<summernote dialogs-in-body="true"></summernote>`
but it's not work.

[2016-08-26 07:54] cmtest0000 commented on #151
I tried `<summernote dialogsinbody></summernote>` , but it's not work too.

[2016-08-30 12:44] dieguittom commented on #145
Hello,
I'm also having the same problem.
I have a page with two Summernote components, but only can perform the function of on-image-upload event in one of the components.

Please someone could help me.

Thank you.

[2016-08-30 13:03] dieguittom commented on #150
Hello,
I'm also having the same problem.
I have a page with two Summernote components, but only as an editor can be accessed, can not run on-image-upload event two Summernote.

Please someone could help me.

Thank you.

[2016-08-30 14:15] blackmatch commented on #145
@dieguittom I modify the source code to solve this problem.I set up  the 'open file dialog' button with a timestamp id,so if you have two or more summernote instance in one html file, they have different id, and then I bind the click event by id (using jquery selector).It works.

[2016-08-30 18:54] dieguittom commented on #145
@blackmatch Thanks for your comment.

Please, could you show me how you did it in the source code?

Thank you.

[2016-08-31 01:25] blackmatch commented on #145
@dieguittom
I modify summernote.js like below:
![11111](https://cloud.githubusercontent.com/assets/12443954/18112776/d1038af6-6f5c-11e6-9c5f-bdc8ab53fdde.png)
![222222](https://cloud.githubusercontent.com/assets/12443954/18112780/d9b5aca6-6f5c-11e6-93b5-d6339dc0c80f.png)

[2016-08-31 14:58] dieguittom commented on #145
@blackmatch  I made the change as you passed me, but it still fails.

You could perform the function of on-image-upload event after this change in both summernote. components?

Thank you for your help.

[2016-09-01 13:35] marlonvpaula commented on #150
Hello,
I'm also having the same problem.

Thank you.

[2016-09-03 01:47] blackmatch commented on #145
`<summernote config="summernoteConfig" ng-model="newNoteObj.content" on-image-upload='imageUpload(files)' editable="editable" editor="editor">
				</summernote>
<summernote config="summernoteConfig2" ng-model="shareModalParams.content" on-image-upload='imageUpload2(files)' editable="editable" editor="editor2">
				</summernote>`

@dieguittom

[2016-09-04 10:25] moustafa20 opened #152 "Does Summernote support Angular 1.5.6"
Hello
i got an error when trying to inject summernote into my application that use angular 1.5.6

[2016-09-04 11:48] lorenzbaum opened #153 "Watch config="options""
Hallo,
it would be great when angular-summernote would watch the config object for changes. When changing something (e.g. the Language) it should update the summernote-editor.

[2016-09-09 11:04] cmtest0000 commented on #151
I use bower to installed this directive, but the file under dist is older version.
It's not include "dialogsinbody".

[2016-09-09 11:04] #151 closed

[2016-09-14 08:10] cmtest0000 opened #155 "I can not get the editor, if use the ng-if outside of summernote."
I have to display or not the summernote.
If I use  ng-if , so I can't get the editor when the picture was uploaded

I tired ng-show , it's works. but legacy has many ng-if outside of where need to use summernote.

[2016-09-15 02:09] cmtest0000 commented on #155
I tried it at the demo.
add a ng-if=true  in `<div>` outside the summernote, and upload a picture by use callbacks.

[code]

so, the output of console,  editor and editable is undifined.
I think it because the  ng-if will create a new scope.

[2016-09-15 07:43] nageshtiwari-dp opened #156 "How to set codeview as default view"
Hi,

How can I set codeview as default view ? Does it have to do something with config/options?

[2016-09-21 16:30] jegor-clausematch commented on #148
Check how your scripts are included, jquery should go before summernote

[2016-10-03 02:10] #155 closed

[2016-10-05 10:01] jhwegener commented on #22
+1

[2016-10-05 14:32] Rahman-S-M opened #157 "airmode=true overrides the height and not able to set the fixed height"
with airmode=fasle (default) the height is fixed but when changed to airmode=true getting infinite height. how to fix the height in airmode=true?

jQuery('.summernote').summernote({
      height:120,
      minHeight:100,
      maxHeight:120,
      disableResizeEditor:false,
      airMode:true,
airPopover: [
      ['style', ['style']],
  ['fontname', ['fontname','fontsize']],
      ['font', ['bold'

[2016-10-08 18:52] YaWK commented on #156
Hi!
I'm interested in that too. Found this: http://stackoverflow.com/questions/26976083/summernote-wysiwyg-set-code-view-as-default-view - but it did not worked. Maybe anyone got a better solution?

[2016-10-08 21:30] YaWK commented on #156
This worked for me - in my case a good solution.
        $(editor).on('summernote.init', function() {
            // toggle editor to codeview
            $(editor).summernote('codeview.toggle');
        });

Regards,
Daniel

[2016-10-09 22:28] gzuzkstro opened #158 "TypeError: element.summernote is not a function"
I'm using Yeoman Angular-Fullstack generator, this is my first time using webpack.

This error has given me headaches for a lot of hours:
`angular.js:13920TypeError: element.summernote is not a function`

It is supposed to appear when the dependencies aren't loaded in the right order. I can't get it to work even with my app.ts looking like this:

[code]

The answer could be something pretty simple

[2016-10-13 13:24] vimphen commented on #114
@Cabeza many thanks

[2016-10-18 01:18] wjy397 opened #159 "Why I run the program has been reported to the wrong"
Why I run the program has been reported to the wrong
：angular.js:13708 TypeError: $node.attr(...).tooltip is not a function

[2016-10-19 13:17] kantrohit opened #160 "Summernote Hints option"

[2016-10-25 09:27] phpschool opened #162 "Hint Option select not updating the ng-model"
I found one issue while adding HTML node as a hint content.

Hint match option is '@a'.
When user tried to type @a the dropdown with hint is shown

Hint options has a content function as below.
content: function (item) {
                    return $('<span><span class="label label-info">' + item.displayName + '</span><span>&nbsp;</span></span>')[0];
                }

While I select from a hint op

[2016-10-28 17:07] egorovpavel commented on #158
same issue with webpack

[2016-10-29 19:21] gzuzkstro commented on #158
I *solved* it by adding `$()` to the element before `activate` is called (also, `$` is an alias for `jQuery` in webpack config).

[code]

This is my first attemp on using webpack so maybe there's a way of solving it without changing wrapper code.

[2016-11-13 01:39] gersonfa opened #163 "TypeError: element.destroy is not a function"
I'm using summernote in angular and all works well, but when I change the page using ngRoute this error appears:

`TypeError: currentElement.destroy is not a function
    at angular-summernote.min.js:6
    at b.$broadcast (angular.js:18005)
    at b.$destroy (angular.js:17623)
    at p (angular-route.js:986)
    at angular-route.js:1019
    at angular.js:8499
    at angular.js:8844
    at d (angul

[2016-11-18 06:21] girlssun opened #164 "Directive editor binding not work"
<summernote height="400" config="options" lang="zh-CN" on-image-upload="imageUpload(files)" on-init="init()" editable="editable"  editor="editor"></summernote>
my controller can't get the editor?

[2016-11-18 08:00] girlssun commented on #142
i have the same problem,have you solved that?

[2016-11-20 12:43] Smiley01987 commented on #22
+1

[2016-11-20 21:15] alereisan commented on #140
@scne did you find a solution to use it with ui.bootstrap? I am facing the same issue.

[2016-11-29 07:11] xLuobin commented on #86
hum, and then

[2016-11-29 13:04] error505 commented on #164
With latest version I can't get it to. But If you install  "angular-summernote": "0.5.1" and "summernote": "0.6.1", than it work...

[2016-12-01 10:00] CicciMTS commented on #142
same problem, anyone solved that?

[2016-12-01 16:49] tomskip123 opened #165 "Manually trigger a model update?"
Hi,

bellow is my config for my summernote atm.

[code]

the problem is when the data comes back from the service and i need to update the model.
I'm now blind guessing which is not very productive.

Am i missing something? is this possible?

I saw that you added an updateNgModel() function patch for onFocus and onChange a while ago maybe i can manually trigger these events. Or call the updateNgMo

[2016-12-02 09:37] tomskip123 commented on #165
OK, so it seems I've managed to find a temporary solution with this

`$('.note-editable').trigger('input')`

which seems to trigger the update of the model (only problem is it will do it for all summernote instances on the current page)

Maybe a feature request, if there isn't already one, a way to call the updateNgModel maybe through the summernote plugin feature?

Thanks, really good, easy to us

[2016-12-06 06:51] msaiyaff opened #166 "In the wisywig it'd be great if there's an option to add a checklist."

[2016-12-06 20:24] aalshaikh commented on #143
Hi @deblis did you fix this issue?

[2016-12-06 20:28] deblis commented on #143
I could not fix it because the theme I'm using does not show the
dropdown, but when I try without a theme it works.

2016-12-06 20:24 GMT, alaaalshaikh <notifications@github.com>:

[2016-12-06 20:30] aalshaikh commented on #143
I remove duplicated bootstraps JS, and Style dropdown is working now.

[2016-12-07 16:50] deblis commented on #143
Exact. Styles that have bootstrap or themes cause the dropdow class to change and then stop working. If you know of a solution for integration can you help me?

[2016-12-08 20:26] conyg opened #167 "Not all options are supported"
Not all summernote options are supported. For example: `disableDragAndDrop`.

Also on the documentation page a more complex example for options usage is required.
For example to set  `minHeight = 300` option in summernote user should input `min-height="300"`.

Please allow more options to be used. Maybe you can find an option that does not require translation from one format to another so a comple

[2016-12-09 12:59] aalshaikh commented on #143
@deblis i don't how to integrate summernote with your theme exactly because i am using theme already done the integration, maybe if you give more details about what you did maybe i can help you.

[2016-12-12 13:15] javieerrubio11 commented on #67
+1 please

[2016-12-12 13:15] javieerrubio11 commented on #136
+1 please.

[2016-12-12 22:01] neopablix commented on #150
Hi! I'm also having the same problem.
I have an array of items, wich inside an ng-repeat use the <summernote> directive.

¿Has anybody found a solution for this issue?

[2016-12-13 15:33] Pdr0Mota opened #168 "controller running 4 times after adding summernote directive"
For some reason when I add
  `<summernote ng-model="text" lang="pt-BR" config="summernoteConfig"></summernote>`
in my HTML, my angular controller runs 4 times.

I would like to know why :(. I can provide more information if necessary

thanks!

[2016-12-13 15:41] Pdr0Mota commented on #168
I'm trying to solve this issue, so i did some tests and I discovered that it only happens when I use the directive inside my 'model'. I'm trying to understand why

[2016-12-13 16:53] joseCocodin opened #169 "Disable tooltips."
I need disabled that because sometimes its stands fixed on the views.

[2016-12-14 11:42] SuryaSJ opened #170 "onImageUpload in angular-summernote throws $scope.editor is undefined"

[2016-12-15 11:59] dieguittom commented on #150
Hello,
I managed to resolve this without using the editor.

![angular1](https://cloud.githubusercontent.com/assets/20914015/21223183/0306312c-c2ad-11e6-9e6c-36b4b4ff0ba2.jpg)

![angular2](https://cloud.githubusercontent.com/assets/20914015/21223201/18d405ce-c2ad-11e6-9df9-1dfa4090124b.jpg)

[2016-12-15 12:12] dieguittom commented on #170
I had the same problem and I managed to resolve without using the editor
Check this question where I posted the resolution, maybe can help you.

https://github.com/summernote/angular-summernote/issues/150

[2016-12-15 14:32] czimnick commented on #162
https://github.com/summernote/summernote/pull/2160

[2016-12-15 17:14] dieguittom commented on #145
@blackmatch

I was able to solve the problem in a different way. Without using the editor

If you are interested to see how I did, check issue https://github.com/summernote/angular-summernote/issues/150 where I posted the resolution

Thank you.

[2016-12-22 12:49] yeraycaballero commented on #151
Right, the file under this is an older version.
I was able to setup that option in the configuration though

component.js
[code]
template.html
[code]

[2017-01-04 20:22] robbporto commented on #136
+1

[2017-01-04 20:24] robbporto commented on #67
+1

[2017-01-15 19:22] serkanince commented on #22
+1 😞

[2017-01-15 19:24] serkanince commented on #27
+1

[2017-01-16 14:18] iredjee commented on #158
Does anybody have proper solution, or explanation why it doesn't work ?

[2017-01-18 09:13] ahmerrkhanzz opened #172 "Firefox throwing "IndexSizeError: Index or size is negative or greater than the allowed amount" error."
I have set the limit of text in the editor and when i "**ctrl+z**" the exceeded text it gives me "**IndexSizeError: Index or size is negative or greater than the allowed amount**" error. Everything is working perfectly in chrome. It happens only inn Firefox.

[2017-01-23 09:05] snehagupta614 commented on #110
hey can u please provide me with the same solution for summernote v0.8.2 and not for angular-summernote

[2017-01-23 16:27] ghost commented on #158
I've found solution using the following webpack configuration

**webpack.config.js**
[code]

[2017-01-24 21:20] nicolaib commented on #67
Any news on this? Or can anyone give me some pointers on how this could be implemented? The original version has this in built in to the Basic API using `$('#summernote').summernote('disable');` and `$('#summernote').summernote('enable');`
Thanks

[2017-01-24 21:22] hamxabaig commented on #67
@nicolaib instead, you can show an absolute `div` with `z-index` greater than parent. So that it acts as overlay and stops interaction to summernote. Some CSS can do this job easily ;)

[2017-01-25 11:16] nicolaib commented on #67
I solved it this way, which removes the possibility to change the text and images. It's also kinda hacky but better than putting a `div` over the textarea - I think ;-)
`$timeout(function(){`
`       angular.element('.note-editable').attr('contenteditable', false);`
`       angular.element('.note-control-selection').remove();`
`},0);`
This is useful if it's needed on-the-fly.

Another solution tha

[2017-01-25 11:18] hamxabaig commented on #67
@nicolaib 👍

[2017-01-31 14:54] lacivert commented on #67
Waiting for this 👍

[2017-02-08 14:47] jirawatp opened #173 "Add class to image"
I created custom button on image popover for add bootstrap class (img-responsive).

But i can't find how can i get the selected image/add new class to selected image.

Could you help suggest, please?

[2017-02-13 15:07] LeftPinkie opened #174 "Tables: modify or delete"
After creating a table with col x row size... is there any way to:
1. delete the entire table?
2. change the col x row size? (ie, add or remove col or row)

[2017-02-13 21:28] s00141425 opened #175 "doesn't it support commonjs?"
I would like to appy 'angular-summernote' with webpack.
but it doesn't work with commonjs (eg componentjs, Webpack, Browserify).

doesn't it support yet the require or import, like this?
angular.module('myModule', [require('summernote'), require('angular-summernote')]);

I found the summernote-webpack-example but, I'm looking for like, angular-summernote-webpack-example.

[2017-02-17 14:59] thiazzz commented on #172
I get the same in Firefox
IndexSizeError: Index or size is negative or greater than the allowed amount

[2017-02-23 10:39] Skleni commented on #86
Any news on this issue?

[2017-03-03 21:05] constantinosergiou opened #176 "front page"
when i try on my code ```<p class="m-b-20" ng-bind-html="seminar.desc_to_who">
								</p>```  on my admin editor i put some styles and the styles are gone when  i use the above

[2017-03-19 02:14] monsieur-ricky opened #177 "Uncaught Error: Cannot find module 'jquery'"
Hi,

I'm trying to use angular-summernote in a Electron app, but i keep getting this error when i include summernote.js in my project:

    at Module._resolveFilename (module.js:470:15)
    at Function.Module._resolveFilename (C:\Users\me\AppData\Roaming\npm\node_modules\electron\dist\resources\electron.asar\common\reset-search-paths.js:35:12)
    at Function.Module._load (module.js:418:25)
    at

[2017-03-22 08:01] MissCuriosity commented on #142
same problem, anyone solved that?

[2017-03-22 08:39] MissCuriosity commented on #58
I have also met this problem.Have you got any solution?

[2017-03-22 10:17] MissCuriosity opened #178 "some problems about on-image-upload"
version:
      angularJs:1.5.0
      angular-summernote:0.2.3    /0.3.1
      summernote:0.5.2      /0.6.0

html:
        <div summernote class="summernote" editable="editable" editor="editor"
                                         on-image-upload="imageUpload(files[0])"
                                         ng-model="text"></div>

js:
        $scope.imageUpload = function(files) {

[2017-03-22 11:19] MeVimalkumar opened #179 "bullets for ul is not working"

[2017-03-26 04:09] dylan-mo opened #180 "All modals are triggered by default"
when i include angular-summernote into my project, I just get all function dialogs poped up. And I cannot close them.

[2017-04-04 12:54] lokopinagar opened #183 "Problem with integrating using controller context"
My current structure of application require me to use controller context as I am using Component-based application architecture to bind data from controller to template. But when i try to set value or get value from the <summernote> according to the method provided it does not get interpreted.

I want to get, set data using controller context, which is not working.

{{$ctrl.SetData}}

I am using t

[2017-04-08 08:36] lokopinagar commented on #183
Can you atleast try to put a comment how to make it work my project is on hold because of this.

Thanks Anyway

[2017-04-27 16:53] conyg commented on #167
The fix is very simple.

Just add: ` if (angular.isDefined($attrs.disableDragAndDrop)) { summernoteConfig.disableDragAndDrop= true; }` in the top section of `SummernoteController` whre the other options are set.

I hope someone will be assigned to this issue and will include other missing options too.

[2017-04-29 14:23] jayss opened #184 "Model value change bug"
If the model value change empty from not-empty, the content area will not change.

[2017-05-04 07:18] DivyaEnjoyneer commented on #84
@outsideris I got struck up with summernote('code').I'm using summernote-0.8.3 version. summernote('code') is not pulling the data from the editor.What I need to do to retrieve the changes of text in the editor & also to call a function when there is change of text in the editor.
Initialized summernote with the below function.
scope.initializeSummernote = function() {
        $('.summernoteWYSWIG'

[2017-05-04 07:23] DivyaEnjoyneer opened #185 "Unable to pull data from summernote"
I got struck up with summernote('code').I'm using summernote-0.8.3 version. summernote('code') is not pulling the data from the editor.What I need to do to retrieve the changes of text in the editor & also to call a function when there is change of text in the editor.
Initialized summernote with the below function.
scope.initializeSummernote = function() {
$('.summernoteWYSWIG').summernote({
place

[2017-05-04 12:12] DivyaEnjoyneer opened #186 "Upload Video from local machine"
Hi,
I want to upload video from local machine not through URL,is there any possibility to do so in summernote?

Thanks in Advance.

[2017-05-05 20:06] gelinger777 commented on #55
is there any way to distingwish inside the onBlur event if it was click on toolbar or no? like
[code]

????

[2017-05-18 20:32] constantinosergiou opened #188 "counter in text area"
is it possible?

[2017-05-18 20:55] #188 closed, assigned to nobody

[2017-05-24 17:46] ecommgeek commented on #165
I'm having a similar problem, when I add an image or link and it's the last thing I do it doesn't update the model.  If I click the bold button for example it updates the model.  Unfortunately the trigger input solution didn't seem to do anything for me.

I'm using summernote JS/CSS 0.8.3 and angular-sumernote 0.8.1

any ideas?

[2017-05-25 02:41] baonhan commented on #67
+1

[2017-05-25 08:20] tomskip123 commented on #165
I've been using Angular 2 so this is going back for me, lets see.
have you tried putting the trigger in a timeout?

[2017-05-25 09:24] IraErshova opened #189 "problem with creating link (angular)"
When I am creating a link, "Open in new window" option does not work, I can't check it.  Next, when editing links, "Open in new window" option does not work also.

I use:
summernote 0.8.3
angular-summernote 0.7.1

How can I fix this problem?
Thanks

[2017-05-25 11:22] ecommgeek commented on #165
As in a setTimeout? No, I tried executing it with a button outside of the editor.

[2017-05-25 11:22] tomskip123 commented on #165
Can you post some code please

[2017-05-25 11:43] ecommgeek commented on #165
Thanks for taking a look!  The code is part of one of our large internal systems so I'll post the code I added for the editor.

The HTML page:

[code]
The Javascript:
`$('.summernote').summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             //

[2017-05-25 11:58] tomskip123 commented on #165
Aren't you executing the trigger before you update the model? shouldn't that be after?

Also try $('.summernote').trigger('summernote.change');

If it helps and maybe to save a lot of time and frustration I made my own.

DIRECTIVE:
`

    (function () {
       "use strict";

    angular
        .module('app')
        .directive('summerEdit', SummerEdit);

    SummerEdit.$inject = [];

    function

[2017-05-25 12:22] ecommgeek commented on #165
I'm new to Angular and a lot of this code is over my head so it may take a while to integrate.  Lots to learn :)

Thanks for the help!

[2017-05-25 23:14] baonhan commented on #67
You can also disable it by accessing the underlying summernote element:
[code]
[code]

[2017-05-26 03:01] vunguyen-it commented on #189
Hi, I think the version of your summernote should be the same as the version of angular-summernote to work correctly. Check the in README.md for further.

I use:
"summernote": "^0.8.1",
"angular-summernote": "^0.8.1"

and everything still good.

[2017-06-06 09:50] samybics opened #190 "ng-submit is not working"
When we have summernote in a page, When we press enter by focusing any other controls(input type text) other than summer note, summernote is not working. Please help me the possibility

[2017-06-24 09:16] hanie-hadadi opened #191 "How to use saveRange and restoreRange in angular-summernote?"
When I change ngmodel value the cursor  jump to beginning, for this reason I want to use saveRage to save the previous position of cursor. How can i do this ?

[2017-06-26 01:45] yaoxiaofdou commented on #147
Hi,How do you solve Base64 uploads?

[2017-06-26 09:54] silviotroia commented on #120
i solved add bootstrap library inside the project
`bower_components/bootstrap/dist/js/bootstrap.js`

[2017-06-30 13:27] silviotroia opened #192 "Added ability to add links to images"
Hi,
please, can you fix the Problem of Imagelinking? It is not possible to set links to an image.
Maybe, you can integration a button like the 100%,50%,25% one for an imagelink.

Regards Silvio

[2017-07-01 06:08] essivision commented on #147
I use another editor

[2017-07-26 20:15] GlauberF opened #193 "summernote material"
Hello, I use in my application material design and now using summernote I'm having problem, why summernote uses bootstrap and I do not use bootstrap, how to solve it?

[2017-08-04 01:35] j0131n commented on #67
Any updates on this?

[2017-08-04 02:14] namphuongtran opened #194 "Has summernote supported merge tags?"
Hi everyone,
I would like to know some features in Summernote. Has Summernote supported merge tags feature which is allow user custom content in Text Editor control.

Thank you so much!

[2017-08-06 01:31] diegobill commented on #159
Same problem :+1:

[2017-08-06 01:31] diegobill commented on #159
@wjy397 , Did you resolve this problem?

[2017-08-24 14:31] loter commented on #47
so if the same word is pasted twice, how to append it into the right cursor position?

[2017-10-06 13:17] mihirkadam opened #195 "Table popover not working on row focus"
Please check angular 2 example
http://jsfiddle.net/outsider/16xL9np9/

popover working properly with normal JS
![image](https://user-images.githubusercontent.com/10244487/31279446-bc306b02-aac6-11e7-9d24-10e209827eae.png)

[2017-11-02 02:55] isreehari commented on #22
It's working fine for me.

[code]

[2017-11-02 04:47] #22 closed

[2017-11-28 12:24] razvangoga opened #196 "IE 11 - null model value makes form dirty"
When binding a Summernote editor to a model with a Null value the ng-form in which the editor is placed becomes $dirty.
Sample [here](https://jsfiddle.net/razvangoga/pLqhwec0/10/).

I could only duplicate this in IE 11 and Firefox Developer Edition v56.
In my PROD solution (a form with many more fields) i could also duplicate this in Edge and normal Firefox v57.
I could never duplicate this in Chr

[2017-12-02 00:46] RohanMohite commented on #177
Below solution worked for me.

Installing jquery in npm package to your local machine, type the below into your command line. You’ll notice a node_modules directory appear in your root where the package is now installed.

npm install jquery

And then add below line in your html file.
<script>window.jQuery = window.$ = module.exports</script>

[2017-12-03 23:07] igorParanhos opened #197 "Bootstrap Dependency"
# Please include bootstrap within the repo and isolate in the directive.

[2017-12-04 12:27] sssppp6 commented on #195
@mihirkadam , I had the same issue, try this in your css:
div.note-popover.popover.in.note-table-popover.bottom {
    z-index: 9999999;
}

[2018-01-19 12:53] YaroslavG commented on #135
@Emidomenge,
Hi, I have the same problem as you! It is a right solution to include script bootstrap?

[2018-01-22 19:53] walysonmax opened #198 "image paste"
how to capture image paste?

[2018-01-26 19:45] constantinosergiou opened #199 "how to remove image,video or any other option from toolbar?"
i want to remove for some users to have image,video or any other tool from toolbar ?
is it possbile? and how ?

[2018-01-27 08:47] iit2011081 commented on #102
I have initialized summernote as an attribute like this
[code]

When I'm uploading image it give me following error.
Cannot read property 'summernote' of undefined.

I tried to insert image url like this.
$scope.editor.summernote('insertNode', imgNode);

[2018-02-01 02:21] allnash opened #200 "Angular summernote removes <form> tag from HTML code."
#### steps to reproduce
1. Type this -

[code]
2. Click code button to visualize the HTML code
3. Click code button again, <form> tag missing? 🤯

#### browser version and os version and summernote version
What is your browser and OS?
1. Safari 11.03

What is your summernote version?
1. Latest
2. Angular summer note latest.

If you can make the issue using jsfiddle(https://jsfiddle.net/), We can sa

[2018-02-09 16:24] Kirdock opened #201 "Cannot leave unordered list"
When the style is changed (for example font-family or color) you cannot leave the list with two enter anymore
![image](https://user-images.githubusercontent.com/11599148/36037721-ef60baea-0dbd-11e8-911e-ecbdaa57fe90.png)

[2018-02-16 00:10] miguelcamargo9 opened #202 "get ng-bind-html"
hello,

i have a this html in my $scope `<p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAIVCAIAAACm0gyVAAAgAElEQVR4AaS9348kWXbfF5kZWZVRlVld2d3V3dUzPZze3VnODLlD7pJci6QoSkt6KcgwTRh+sQXDgGlAAgYCH/zgv8GA+CDAggU9GBBAixZBkyJNUSJBLu2lzLVIUQvuLvfHzHJ7dntmuqerpiu7M6syqjKq0p/POZHZtbNLPtjR2VERN27cn+ee873nnHuj8+Uvf7mIoy6KQVHkmQAuVke9rKvOYL4OqmsfHp9MjxbLp++885Wv3PvKV7784OhgUDSTuhkU/f39W0Q4qqdV

[2018-02-16 00:28] #202 closed, assigned to nobody

[2018-02-19 09:45] Celadora commented on #158
The problem for us was a missing bower.json file. Adding this file corrected the problem.

[code]

[2018-02-19 14:17] tfoston commented on #156
@YaWK Really helpful. Thank you!

[2018-03-03 15:16] alhaji-aki commented on #157
I am also gettting this problem. Where you able to fix it? @Rahman-S-M

[2018-03-12 16:33] AndresMarotta opened #203 "Disable drop only in editor"
I'm trying to disable any try of drag&drop in editor, but using _disableDragAndDrop_ flag has effect on the entire document, which I dont' want to.

Is there any plans of improve this?

I think the problem is here:

/**
 * attach Drag and Drop Events
 */
this.initialize = function () {
  if (options.disableDragAndDrop) {
    // prevent default drop event
    documentEventHandlers.onDrop = function

[2018-05-17 03:19] ShivPandey opened #205 "How to Check for empty in angularjs"

[2018-05-24 13:47] harshalone commented on #173
I am having same issue with my current images here is the example [how to write articles fast](https://www.selldigitalproductsonline.com/blog/id/18/How-to-Write-Articles-Fast)

[2018-07-03 13:43] AndresMarotta opened #206 "Remove Boostrap reference fails"
Hi!

I've read in several issues here that using _summernote-bs**x**.css_ and _summernote-bs**x**.js_ Summernote will not use Bootstrap, so it will not rewrite my CSS style. But, when I use them and remove Bootstrap references, I get this error:

I've been reading about this and (oh, surprise!) it says that I need to load Bootstrap files...

Is there any way to use angular-summernote without Boots

[2018-08-13 04:20] tinhnqjp commented on #135
Good!

[2018-09-14 16:32] davidCanche1994 commented on #114
@Cabeza i love, it work for me, after many hours searching a example

[2018-12-10 00:58] 1797890817 opened #208 "angular2+ support?"
angular2+ support?

[2019-01-11 03:32] phamhieu2781 commented on #76
I has used this. I wish it can help u:
`$(document).ready(function (){
   $(document).on('keyup', '.note-codable', function(){
       if($(this).val().indexOf('<script>') > -1){
           $(this).val($(this).val().replace('<script>', ''));
       }
   });
})`

[2019-02-18 19:36] Naveed1842 commented on #158
Same problem with angular version6.

[2019-02-23 23:15] #158 closed

[2019-03-29 08:26] renetanikolova commented on #195
@mihirkadam did you find a solution to this problem?

[2019-06-11 15:01] sertal70 opened #209 "summernote('destroy') breaks binding"
Hi, in my application there are situation in which I need to change configuration options for summernote. Since it is not possible to change options after summernote has been initialised (see #153 and #23), I ended up by destroying summernote then rebuilding it with new options:

[code]
Unfortunately this brakes angular binding in a strange way: if I modify text within summernote the binding varia

[2019-10-29 10:44] thekage91 opened #210 "Missing "main" property in bower.json file to load the package #3451"
I use summernote in an Angular 1.7.4 project with angular-summernote package but the bower.json file of summernote missing the main property to load the package.
This doesn't allow me to use summernote in my angular application.

**Steps to reproduce**
1. Install [angular-summernote](https://github.com/summernote/angular-summernote) latest version
2. Install the last version of summernote 0.8.12
3

[2019-11-14 10:05] prokoptsev opened #211 "Button with angular service inside"
Hi. I tried to understand, how can I create button in my plugin, which used my angular service for represent special symbols for insert in editor. Can you help me and show me example, or something else?

[2019-12-03 17:48] #211 closed, assigned to nobody

[2019-12-23 05:35] dprabu17 opened #213 "How to upgrade current version of summernote 0.8.12 https://summernote.org/"
I would like use add a custom hex code in the color picker but it required to upgrade the latest version.

![Selection_543](https://user-images.githubusercontent.com/1658021/71337946-d8fac000-2573-11ea-90cd-729f309d8c5e.png)

Please help me how to upgrade angular-summernote js to use latest version.

[2019-12-24 04:48] KhaingZin-Thwal commented on #156
<h3>Khaing Zin</h3>
<p>kzt and yya</p>

-

[2019-12-26 13:12] KamranMaqbool commented on #67
Any solution here ????

[2020-01-13 13:43] qmainuddin opened #214 "Error: [$sce:unsafe] Attempting to use an unsafe value in a safe context."
I am trying to add summernote to my project. I followed the instruction given in the documentation. But unfortunately getting the following error in the browser -

**Error stacktrace:**
Error: [$sce:unsafe] Attempting to use an unsafe value in a safe context.
http://errors.angularjs.org/1.3.15/$sce/unsafe
    at angular.js:63
    at htmlSanitizer (angular.js:15142)
    at getTrusted (angular.js:15

[2020-03-16 14:56] amenzoweb opened #215 "Prevent undo if initial content is empty"
Hi,
Firsly thank you for this awesome module, great job.

I have a small probleme using it, initial content is set after summernote and page init.
(Page loaded ( with summernote init) then i put my content.)
My problem is : how to prevent undo action if history length is 1.

I found it in code but I will be happy to set it in option like that I dont lose changes on module update.

Instead of :
`

[2020-03-25 16:40] Crzech commented on #67
#216 I've made a pull request to fix this, that workaround fixed my problem so I wanted to share.

[2020-03-31 02:02] #145 closed

[2020-04-01 10:07] vikashRG opened #217 "image resize popover is not show when we click on the image."
when I click on the image `note-popover popover in note-image-popover bottom `style display changes to `block` from `none` but the `div `body is not showing there.'

I have also tried `disableResizeEditor: false`

![Screenshot from 2020-04-01 14-11-23](https://user-images.githubusercontent.com/54055697/78125255-64ff6c00-742e-11ea-819d-7e26fb6aeeef.jpg)

[2020-05-05 13:05] sylfranke opened #218 "Cursor jumps to end of text while typing in codeview mode"
Hi,
we use summernote 0.8.1 together with angular-summernote v0.8.1 and angularjs 1.7.9.
While editing some text in codeview mode, the cursor unpredictably jumps to the end of the text. This happens with chrome and firefox. I did not test it with ie.

I managed to reproduce this strange behavior in the advanced features example "use ngModel to synchronize the value" on http://jsfiddle.net/outsider

[2020-05-26 11:40] Anandhakrishnan02 commented on #145
I've added four summary notes on a page and after saving the content in that only one summary note is displaying and the other three is showing like a box. how to solve this

[2020-08-31 01:25] selvaonline opened #219 "TypeError: element.summernote is not a function at Object.activate (eval at <anonymous> (jquery.min.js:2)"
Many questions already asked on this topic. I tried almost all the solutions for last 2 days. But nothing worked out. So raising this question.

I am having a Angular 1.x /jQuery/jspm/system js project.

[code]

Summernote was working fine until i add a new madcam bundled library for helpdoc generation. Madcam bundled library has jQuery v1.8.3 embed on it. So summernote starts throwing error. I ha

[2020-09-18 16:48] suganyapalani22 opened #220 "Checkbox which is getting checked in the summernote editor, not reflecting in the code elements"
I have created the custom button, on pressing this button, I have included the checkbox by using this code,
 context.invoke('editor.pasteHTML', '<input type="checkbox" class="note-editor-checkbox"/>');

By on clicking, the code should be changed into <<  #input type="checkbox" checked="checked" class="note-editor-checkbox"/>>, but that was not happened, no change in the code.

[2020-09-21 04:41] suganyapalani22 opened #221 "Cannot able to get the selected text along with its formatted html"
When selecting the text, i need to add the outer div with some format, I have used this code, but throws some exceptions,

const range = currentElement.summernote('createRange');
 var newrange=range.nativeRange()
const newParent = document.createElement('span');
newParent.setAttribute('contenteditable', false);
newParent.setAttribute('class', 'freeze-word');
var newtext=newrange.surroundContents(n

[2021-03-16 09:53] bygre14790 opened #222 "Toolbar drop-down buttons not displayed properly."
Hi!

I'm running at the moment angular-summernote (0.8.1), the angular module works, but some buttons of the toolbar are not working as expected.

Ex1 :
Font selector is not displaying available fonts of the browser, but if you select one and type something the font-type changes.
![errorimage1](https://user-images.githubusercontent.com/32273898/111288336-5c567480-8644-11eb-823a-84220acd3876.png)

[2021-04-19 13:34] LeandroMendesDS commented on #222
The same with me! Let me know if you find out

[2021-04-21 18:22] LeandroMendesDS commented on #222
@bygre14790  I was able to fix it by updating all summernote related libs to the latest version.

[2021-05-28 12:32] goldylucks opened #223 "Decorator callback doesn't fire"
I want to decorate the directive with default options, but the decorator CB never fires. I have other directives I'm decorating in the same way and they do work.

Any ideas?
Thanks for the awesome project!

[code]

[2022-02-20 20:35] #165 closed